[2016-01-25 14:33] Elecash opened #1 "Raise coverage to 100%"
We need to test the whole library and get coverage percentage to 100%.

[2016-01-25 14:35] Elecash opened #2 "Add Codecov support"
We need to be sure that coverage doesn't drops below 100% so we need to add Codecov support and integrate it with TravisCI.

It would be great to add a badge with the coverage too.

[2016-01-29 19:30] Elecash opened #3 "Fonts on NPM"
Fonts are not published on NPM and they should be.

[2016-02-02 12:26] #1 closed

[2016-02-06 15:18] Elecash opened #14 "Error with buffered.end"
When metadata is not loaded and `onTimeUpdate` or `onProgress` functions are called the `buffered.end()` method returns an error because `buffered.length` is 0.

[2016-02-06 15:23] #3 closed

[2016-02-06 15:23] #14 closed

[2016-02-06 15:41] Elecash opened #15 "Improve example"
Improve example with a menu to navigate between different examples.

[2016-02-06 17:16] Elecash commented on #15
Closed with https://github.com/videogular/videogular2/commit/a7180812f0273272487d9802a7cba2e6a3d1d0b0

[2016-02-06 17:16] #15 closed

[2016-02-07 14:35] Elecash opened #16 "Add buffer to API"
We need to add `buffer` property to the API.

[2016-02-07 14:39] #16 closed

[2016-02-14 13:57] Elecash opened #24 "Update to Angular2.beta-6"
We need to update to latest Angular2 beta version.

[2016-02-14 16:44] Elecash opened #25 "Switch to typings"
TSD is deprecated, we need to switch to typings.

[2016-02-14 18:36] Elecash commented on #25
Closed with https://github.com/videogular/videogular2/pull/26

[2016-02-14 18:36] #25 closed

[2016-02-14 18:36] Elecash commented on #24
Closed with https://github.com/videogular/videogular2/pull/26

[2016-02-14 18:36] #24 closed

[2016-02-15 09:02] Elecash opened #27 "Add cue points feature"
We need to add cue points feature as we have in ng1 version.

Cue points in Videogular 1.X work with callbacks as we can see here:

https://github.com/videogular/videogular/blob/master/app/scripts/com/2fdevs/videogular/controllers/vg-controller.js#L229

The ng2 version should work with RxJS.

[2016-02-15 09:12] Elecash opened #28 "Add Autohide"
Videogular controls should have an autohide feature.

API proposal is to follow ng1 version:

[code]

[2016-02-15 09:23] Elecash opened #29 "Add disable native fullscreen"
On old Android devices and iOS devices we can't set to fullscreen the videogular element, we only can set the video element to fullscreen.

To allow the user to have custom controls we can emulate fullscreen by setting the videogular element `vg-player` to fullscreen instead of `video` element.

In ng1 version this was managed by the public API, maybe this should be moved to fullscreen API.

https

[2016-02-15 09:30] Elecash opened #30 "Add Google IMA plugin"
We need to add Google IMA plugin.

Suggested API is to follow ng1 version.

[code]

https://github.com/videogular/videogular/blob/master/app/scripts/com/2fdevs/videogular/plugins/vg-ima-ads/vg-ima-ads.js

[2016-02-15 09:38] Elecash opened #31 "Add DASH plugin"
We need to add Dash support through [Dash.js](https://github.com/Dash-Industry-Forum/dash.js).

Suggested API is similar to ng1 version but we can enable or disable dash with a boolean value over `vg-dash` attribute. This is useful when people needs to change from a standard source to a dash source.

[code]

[2016-02-15 11:36] Elecash opened #32 "Switch to Observables"
Now we're subscribing to events through `addEventListener` we need to switch to RxJS Observables to allow external subscriptions for third-party libraries and app development.

Subscriptions will be stored inside a property in each media file.

[code]

[2016-02-15 12:44] Elecash commented on #32
Closed with https://github.com/videogular/videogular2/commit/40e64f3f93afa53b11d3dabb53e62dd77af5d12d

[2016-02-15 12:44] #32 closed

[2016-02-15 21:04] manekinekko commented on #28
I can take this one :)

[2016-02-15 21:08] Elecash commented on #28
:+1:

[2016-02-19 05:59] Elecash commented on #27
Closed with https://github.com/videogular/videogular2/pull/38

[2016-02-19 05:59] #27 closed

[2016-02-19 06:04] Elecash commented on #28
I'm reopening this to change a few things on this feature that maybe I didn't clarify on first description.

Videogular works with a plugin system (modules at the end) that are added and removed by HTML tags. Each plugin to interact with the media elements inside Videogular (`video` and `audio` tags inside `vg-player` tag) need to use an external API (VgAPI).

That means that VgPlayer and VgContro

[2016-02-19 07:16] #28 closed

[2016-02-27 01:30] manekinekko commented on #29
which old version of Android are you referring to?

[2016-02-27 11:26] Elecash commented on #29
Those that doesn't have Chrome as default browser which is pretty hard to know because it's installed on some Android distros and on others don't.

http://caniuse.com/#search=fullscreen

Anyway, we should detect if we fullscreen API is enabled on the current device or not and emulate when it's necessary.

[2016-02-27 12:43] manekinekko commented on #29
Ok I see.
I just needed to know so I can spin up the right Android emulator :)

[2016-02-27 12:47] manekinekko opened #43 "EPEERINVALID after fresh npm install in examples"
![image](https://cloud.githubusercontent.com/assets/1699357/13372899/7faba576-dd58-11e5-9846-4cce401b7a1a.png)

[2016-02-27 12:51] manekinekko commented on #43
The following config did fix this:

[code]

[2016-02-27 12:53] manekinekko commented on #43
Should merge this ? And use the same config for the main package.json ?

[2016-02-27 15:07] Elecash commented on #43
Yes, please. Thank you!

[2016-02-27 15:17] Elecash commented on #29
Just test with Android Stock Browser and with Chrome for Android.

Anyway, the feature should be `add disable native fullscreen` because that's the current feature on ng1.

[2016-02-27 15:50] manekinekko commented on #43
I'll send a PR then ;)

[2016-02-28 22:12] Elecash opened #45 "Add scrub bar cue points plugin"
We need to show cue points to the control bar as we currently do on `vg1`.

[2016-02-28 22:27] #43 closed

[2016-02-28 22:27] #45 closed

[2016-03-05 10:18] Elecash commented on #29
Closed by https://github.com/videogular/videogular2/pull/62

[2016-03-05 10:18] #29 closed

[2016-03-08 17:01] Elecash opened #69 "We need docs"
### Issue Type
Documentation

### Description
We need docs. It could be cool to use [couscous](http://couscous.io/).

[2016-03-20 09:41] Elecash opened #87 "Refactor cue points"
### Description
Refactor cue points to stick to the HTML5 standard by using `tracks`.

With `tracks` we can send metadata and use the native callbacks `cuechange`, `enter` and `leave`. We need to create new callbacks for `update` and `complete` that can be done with some custom directives.

[2016-03-21 19:23] #87 closed

[2016-03-22 14:36] Elecash commented on #69
Closed with https://github.com/videogular/videogular2/pull/90

[2016-03-22 14:36] #69 closed

[2016-04-07 07:22] petervojtek opened #108 "npm installation fails with Cannot find namespace 'jasmine' and plenty of other errors."
### Description

When i try `npm install videogular2 --save`

the outcome is:
[code]

My OS: ubuntu 14.04 32bit, node v5.8.0, npm 3.7.3.

this is my webpack.config.js:

[code]

my tsconfig.json:

[code]

I can actually use videogular2 in angular2 project simply by including the source ts files, e.g.:
[code]

but I would rather include the proper build.

[2016-04-07 07:25] petervojtek commented on #108
I apologize, I accidentally tried to install it inside videogular2 directory..
when installed in the my actual angular2 project, it works well.

[2016-04-07 07:25] #108 closed

[2016-04-07 07:28] Elecash commented on #108
No problem!

Please, we're looking for feedback, so let me know any issue or suggestion that you would have since it seems that you're the first person that have been opened an issue here 😄

[2016-04-07 07:50] petervojtek opened #109 "plenty of Duplicate identifier errors due to typings/browser.d.ts reference in vg-player.d.ts"
### Description
The issue is, I have typings located in `my_angular_project/typings/` (including browser.d.ts)

However `vg-player.d.ts` has on the first line following reference:
[code]
and actually keeps its own `browser.d.ts` in
[code]

I guess this means browser.d.ts is loaded twice during ts->js transpilation, which leads to plenty of errors like:
[code]

When I remove the first line (`refere

[2016-04-07 07:55] Elecash commented on #109
I'm not seeing those errors in my example project.

This is my `tsconfig.json`:

https://github.com/videogular/videogular2/blob/master/examples/src/tsconfig.json

[2016-04-07 08:12] petervojtek commented on #109
thanks for quick response.

Btw when I merge your  `tsconfig.json` into mine, I end up with following error:
[code]

and when I use exactly the same tsconfig.json as you do, I get the `Duplicate identifier` errors.

I actually use Ionic beta via `ionic serve` command, which I guess brings some additional config/build process for typescript and probably that is why I cannot benefit from your tsconf

[2016-04-08 11:34] petervojtek opened #112 "onPlayerReady is not fired"
### Description

I try to dynamically change audio track src from angular 2 controller. I started with the basic [audio player example](https://github.com/videogular/videogular2/blob/master/examples/src/audio-player.html) and I guess I have to somehow access VgAPI from my angular 2 controller to change audio track dynamically (maybe I am completely wrong, I only guess that in videogular v1 $API wa

[2016-04-10 11:48] Elecash commented on #112
It is working here in the example demo app:

https://github.com/videogular/videogular2/blob/master/examples/src/bound-player.ts#L54
https://github.com/videogular/videogular2/blob/master/examples/src/bound-player.html#L5

However, you don't need the API anymore to update the videos, you can just use a normal binding to do so. Update your `this.playlist` array and it should iterate again your `<sour

[2016-04-11 10:55] petervojtek commented on #112
thanks for feedback @Elecash.

Simply updating `this.playlist` seems to work only once ( all subsequent updates of audio url are ignored):
[code]

when `play(audioUrl)` is called for the first time, it will load the audio and play it. When I call later `play(audioUrl)` for second time with some different audioUrl, the second audio file is not loaded.

I found a way how to "fix it" and that is to a

[2016-04-11 23:26] Elecash commented on #112
That should not be the way to go. I'll try to update the demo with a proper way to deal with that.

[2016-04-13 08:01] Elecash commented on #112
@petervojtek I'm working on a solution for this based on observables, I hope to have it soon :)

[2016-04-13 08:10] petervojtek commented on #112
hi @Elecash, thanks a lot for your effort :)

[2016-04-18 14:28] petervojtek commented on #112
btw, from my further experiments it seems the changes in `<audio>` sources are not taken properly into account by videogular because the register media business logic is only in [ngOnInit()](https://github.com/videogular/videogular2/blob/master/src/vg-player/vg-player.ts#L67) which is called just once, when the component is created.

All later changes to `<audio>` source are detected by angular, b

[2016-04-18 14:44] Elecash commented on #112
Yes, this is something that I need to implement. In fact, I want to refactor this part to abstract the registration to each component to allow for example an image gallery registration (which also can have play, pause, progress and seek) or a CSS or WebGL animation.

[2016-05-08 23:01] Elecash commented on #112
Closed with https://github.com/videogular/videogular2/commit/a9f456bb

[2016-05-08 23:01] #112 closed

[2016-05-10 07:52] Fluccioni commented on #109
Hello @petervojtek, Do you found a solution since the message was posted because I have the same issue and I'm not able to find a proper way to compile. Thanks

[2016-05-10 13:47] petervojtek commented on #109
hi @Fluccioni , so far the only solution i found is the one described in my first comment, and this is to remove first line from `vg-player.d.ts`, i.e. remove this line:
[code]

[2016-05-21 10:15] zoehneto opened #145 "Update to angular2 rc1"
### Description
With rc1 angular was split into multiple packages starting with "@angular". Due to this change, videogular is incompatible with projects built agains angular2 rc1.

[2016-05-21 13:07] Elecash commented on #145
We're going to release a new version with a new API approach and updated to RC1.

I hope to release this in a couple of weeks.

[2016-06-17 04:01] mattma commented on #145
Because the current release `0.7.0` still use `angular2-beta.15`, it won't be compatible with `RC1` or `RC2`. When the PR is going to be merged with updated core dependencies? @Elecash thanks

[2016-06-17 06:28] mattma opened #164 "Local development workflow is broken"
### Description
Local development does not work.

### Expected Behavior
In `example` folder, after running `npm install`, it run into white page of the death.

### Actual Behavior
<img width="1435" alt="screen shot 2016-06-16 at 11 25 54 pm" src="https://cloud.githubusercontent.com/assets/1148428/16142410/ee2e87b2-3419-11e6-9c51-71248f2ce717.png">

### Steps to Reproduce
  1. Latest `master` branc

[2016-06-26 17:54] Elecash commented on #145
Updated to RC2 is done.

[2016-06-26 17:54] #145 closed

[2016-06-26 18:00] Elecash commented on #164
Hi @mattma

You need to compile first the parent folder.

1. cd into root folder
2. `npm install``
3. `npm run build`
4. Link your local videogular2 package `npm link`
5. cd into `examples` folder
6. `npm install`
7. `npm link videogular2`
8. `npm start`

That should be enough :smile:

[2016-06-26 18:00] #164 closed

[2016-06-26 18:01] Elecash commented on #109
Please, update to latest version and check if this problems still exists.

[2016-06-27 05:33] zoehneto opened #171 "Publish current version on npm"
Please publish the current version on npm for compatability with angular rc1+.

[2016-06-27 08:43] Elecash commented on #171
You're right, I've pushed everything with the tests and it's not available on npm.

Will be fixed soon

[2016-06-27 09:18] Elecash commented on #171
Done.

[2016-06-27 09:18] #171 closed

[2016-06-29 13:30] stijn26 opened #174 "Can't build the project"
Hi,

I'm trying to get a proper build to include in my own project.

When I try to build the Videogular2 project I get the following output:

npm run build

node_modules/@angular/compiler/src/directive_normalizer.d.ts(12,62): error TS2304: Cannot find name 'Promise'.
node_modules/@angular/compiler/src/directive_normalizer.d.ts(13,95): error TS2304: Cannot find name 'Promise'.
node_modules/@angular

[2016-06-29 13:40] #174 closed

[2016-06-29 14:10] stijn26 opened #175 "How to include Videogular2 in system-config.ts"
Hi,

I have installed Videogular2 and included it in the system-config.ts like this:

[code]

However I get this error when I try to load my app:

What is the solution for this?

[2016-06-29 14:44] Elecash commented on #175
You can take a look to the `system-config.js` that we have on examples.

https://github.com/videogular/videogular2/blob/master/examples/system-config.js

[2016-06-29 15:24] stijn26 commented on #175
This doesn't work for me: I have this now:

[code]

With error:

[2016-07-07 08:08] #175 closed

[2016-07-11 09:56] stijn26 opened #181 "Font not loading because of node_modules map"
### Description
In Angular-CLI, the fonts are not loaded in the app.
Error:

### Expected Behavior
Load and display the fonts.

### Actual Behavior
Font's are not loaded in and logs an error.

### Steps to Reproduce
1. Scaffold new app with Angular-CLI
2. Include Videogular2
3. Put this line in Angular-cli-build.js in vendorNpmFiles: 'videogular2/**/*.+(js|ts|js.map|woff|ttf)'
4. Run the app and c

[2016-07-19 02:15] nickbenes commented on #181
I ran into the same issue. It would probably be best to make the vg-player references relative to the source file (e.g. `url('../../../fonts/videogular.eot')`, though I haven't tested that yet). As an interim fix, you can copy the `fonts` files, create a folder `public/node_modules/videogular2/fonts/`, and dump them there. A little cludgy, but it works.

[2016-08-08 18:05] engmkurd opened #198 "Full screen on play"
### Description
I want the video to be played on full screen once the user clicks play

### Expected Behavior
full screen on play

### Actual Behavior
play in normal mode

[2016-08-09 09:25] Elecash commented on #198
You can create your custom play button and set fullscreen when you click the button.

This should do the trick:

[code]

[2016-08-09 09:25] #198 closed

[2016-08-12 06:23] teacii commented on #174
Hi,
You closed this topic but wondering if you found a solution?
I have facing similar issue.

Thanks

[2016-08-12 16:47] Skylive opened #204 "Controls loaded but nothing else (no events triggered)"
### Description
*I'm a beginner with typescript, I gradually discovered its specificities. The problem encountered is that the controls are loaded (correctly?) and displayed but not clickable.*

### Expected Behavior
*Controls clickable and music played.*

### Actual Behavior
*Controls are not clickable.*

### Steps to Reproduce
  1. Start a new app with Angular-CLI
  2. Include Videogular2
  3. F

[2016-08-12 21:08] #204 closed

[2016-08-15 09:24] Elecash commented on #181
Probably the best solution here is to remove the font from the TS files and allow each dev to set as a standard css file.

I'll do it soon, with the next release that will have some new features and upgraded to RC5.

[2016-08-15 09:24] #109 closed

[2016-08-29 08:59] Bhushan001 opened #220 "How To Use Videogular2 in angular-cli@webpack ?"
I am new to angular2 and am working on a project:

I previously added videogular2 successfully in angular-cli with SystemJS Configuration.

But Now I have upgraded my angular2 app to angular-cli@webpack.

But Now i am not able t make it work.

I am getting below error:

I  am not able to figure out the issue.

any inputs?

[2016-09-01 16:50] #181 closed

[2016-09-12 17:15] #30 closed

[2016-10-01 16:34] langfors opened #245 "Unable to use videogular2 in angular2-meteor project"
### Description

I'm unable to use videogular/videogular2 in a recent angular2-meteor project. (This was working in earlier versions of angular2/angular2-meteor/meteor). I suspect there is a packaging issue with videogular2 which makes it incompatible with angular2-meteor but despite my attempts to debug this I cannot figure it out. I'm offering a $100 bounty to anyone who can help me solve this.

[2016-10-03 15:00] laszlof commented on #245
I'm not able to reproduce this issue as there appears to be other things wrong with the repo example you've provided.

[code]

[2016-10-03 23:19] langfors commented on #245
@laszlof: Thanks for taking a look at this.  I did a fresh pull and build and also saw the same problems that you did, but I affixed the version of meteor-rxjs to 0.2.3 and now it gets to the above error.  If you pull, npm install and run you should see the videogular2 issue as stated.  Thanks again!

[2016-10-04 00:56] laszlof commented on #245
Thanks.  I'll take a look at your actual issue tomorrow and see what I can
come up with.

[2016-10-11 10:45] cindyliu-yb opened #249 "Unable to use videogular2 with angular 2.0.2"
### Description
I can use videogular2 with angular 2.0.0, but once I update angular to 2.0.2.  It gave me this error that "Unexpected value 'VgCore' imported by the module 'MainModule'".

### Expected Behavior
VgCore successfully imported into the MainModule

### Actual Behavior
VgCore can't be imported

### Steps to Reproduce
  1. Create a simple angular2 webpack starter project which bootstraps

[2016-10-11 19:11] digitalkaoz commented on #249
same here

[2016-10-13 21:31] opiepj commented on #249
Having the same issue with Angular 2.1.0

[2016-10-14 05:05] digitalkaoz commented on #249
It was solved for me when i deleted the hardcoded pinned angular 2.0.0
packages below this package in node_modules

Patrick Opie <notifications@github.com> schrieb am Do., 13. Okt. 2016,
23:32:

[2016-10-14 07:23] cindyliu-yb commented on #249
@digitalkaoz  hey, what do you mean by hardcoded pinned angular2.0.0 packages?  Below are the files in the videogular2 folder.
![screen shot 2016-10-14 at 08 21 39](https://cloud.githubusercontent.com/assets/22146622/19378920/485c2728-91e7-11e6-9adb-e1e769edc784.png)

[2016-10-14 07:43] Elecash commented on #249
@cindyliu-yb I think that @digitalkaoz is refering to this PR https://github.com/videogular/videogular2/pull/251/files

[2016-10-14 08:32] cindyliu-yb commented on #249
I tried this. It still does not work for me :(

[2016-10-14 09:11] digitalkaoz commented on #249
the node_modules folder below videogular2 in your node_modules

[2016-10-16 10:46] shikharls opened #252 "Videogular2 not working with Ionic 2"
### Description
Videogular2 is not working with Ionic 2.

### Expected Behavior
*The video should run fine.*

### Actual Behavior
*Error: Unexpected value 'VgCore' imported by the module 'AppModule'*

### Steps to Reproduce
  1. Start any ionic project
  2. Install videogular2: `sudo npm install -g videogular2 --save`
  3. In app.module.ts:
Headers:
[code]

Then:
[code]

Then run the app.

[2016-10-16 14:50] comoris commented on #249
having the same issue/error message.
installed angular cli 1.0.0-beta.17,
updated angular to "2.1.0" in my node_modules
npm i videogular2
cd to videogular2 module
updated package.json file in videogular2  to angular "2.1.0" & removed node modules
npm i in videogular2
import {VgCore} from 'videogular2/core'
... as described

[2016-10-16 20:38] Elecash commented on #252
This is a duplicate of https://github.com/videogular/videogular2/issues/249

[2016-10-16 20:38] #252 closed

[2016-10-16 20:50] Elecash commented on #249
According to this thread it looks a problem with Angular CLI: https://github.com/angular/angular-cli/pull/2291

You can update the Angular CLI or if you want to fix it locally add this to your webpack config:

[code]

I'll update the https://github.com/videogular/videogular2-starter repo too.

[2016-10-16 21:09] comoris opened #253 "BoundPlayer overlay-play issue (ng 2.0.0 & angular cli)"
### Description
'vg-overlay-play' is not a known element error

### Steps to Reproduce
setup new angular cli project
removed the tildes in package.json to use ng 2.0.0
reinstalled nodemodules
setup boundplayer as in example files

got error: zone.js:355 Unhandled Promise rejection: Template parse errors:
'vg-overlay-play' is not a known element: ...

disabled
boundplayer without overlay works

thk

[2016-10-17 08:34] comoris commented on #249
thanks @Elecash

[2016-10-17 14:24] Elecash commented on #249
Seems that [this fix](https://github.com/angular/angular-cli/pull/2291) was made 6 days ago and Angular CLI 1.0.0-beta.17 was released 10 days ago, so maybe we need to wait to beta.18.

[2016-10-19 04:29] opiepj opened #255 "Getting Started Doc moved to the README.md"
First, great module and documentation!

I think it would be more intuitive for first time users to see a "getting started" section when they land on the this repo.

Thoughts?

[2016-10-19 08:24] Elecash commented on #255
We're working to provide better documentation. Our plan is to have a site with all the docs so you don't need to go to the repo.

In the meantime you can go and check the docs available in [/docs folder](https://github.com/videogular/videogular2/tree/master/docs).

[2016-10-20 18:47] digitalkaoz commented on #249
so beta-18 is out...

[2016-10-21 15:00] #253 closed

[2016-10-21 15:01] comoris commented on #249
yes, works like a charm, thks

[2016-10-21 15:01] Elecash commented on #249
Thanks for confirming @comoris

[2016-10-21 15:01] #249 closed

[2016-10-22 21:46] cindyliu-yb commented on #249
yes it works now! thanks!

[2016-10-24 07:57] matthiasdv opened #257 "Best practice regarding updating video sources"
### Description

I'm struggling with implementing a feature that updates sources for Videogular 2. The basic user flow is as follows;
- User uploads a video to the application's backend.
- Backend does a scale down operation on the video file
- Backend returns a response to the client containing a link to the newly rendered static file
- Client updates the Videogular element with this new source.

[2016-10-24 08:35] Elecash commented on #257
Hi,

You don't need to use `vg-master` or `registerMedia()` at all. I've seen that error before but it's pretty hard for me to reproduce it. Can you reproduce that error always? If you can, can you tell me how?

In this example you can see what you want to do and I can't reproduce in my machine that error.

https://github.com/videogular/videogular2/tree/master/examples/bound-player

It would be gr

[2016-10-24 14:06] comoris commented on #257
hi @Elecash
I'm working on the same project, is there a way other than *ngFor to trigger an source-update (on once source-object instead of array)?.

`    onClickUpdateSource() {
        this.newVideo = {
            src: "http://techslides.com/demos/sample-videos/small.mp4",
            type: "video/mp4"
        };

        // via appRef
        this.video = Object.assign({}, this.newVideo);

[2016-10-24 14:35] matthiasdv commented on #257
@Elecash

Thanks for referring me to the proper example, it helped a lot.

Turns out the following exception:
`localhost/:1 Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause().`

is thrown whenever `api.play()` is being called on an invalid video source. i.e. attempting to press the play button when the source url returns a 404.

What made it even more confu

[2016-10-29 00:30] darekurlik opened #261 "Dist/Min version"
### Description

So currently I am adding entire videogular2 directory to my package.
### Expected Behavior

I want the content of the dist directory have min version.
### Actual Behavior

Currently I am trying to point systemjs.config.js to 'videogular2/dist' but then I am getting:
(SystemJS) Unexpected value 'undefined' imported by the module 'AudioModule'

[2016-10-29 23:06] psotelo opened #262 "Does it works? the demo link is failing"
The demo link is failing, can I use videogular2 ?

[2016-10-31 09:03] #257 closed

[2016-10-31 14:34] Elecash commented on #262
Yes, you can use it, we need to update the demo link and so on, but don't worry, it should be working.

[2016-10-31 14:34] #262 closed

[2016-10-31 16:26] psotelo opened #264 "Testing basic example fails"
I'm using the basic example of your getstarted documentation but I always get warnings and errors

[code]

[2016-10-31 16:27] psotelo commented on #264
And other errors all similars to:

[code]

[2016-10-31 17:09] psotelo commented on #264
Is anybody using it with Angular 2 final version?

[2016-11-01 09:33] Elecash commented on #264
I'm using it with the Angular 2 final version. Did you tried with the https://github.com/videogular/videogular2-starter repo?

[2016-11-01 09:34] Elecash commented on #261
We're testing now with Webpack, I'll try to update the `dist` folder to support SystemJS.

Thank you for letting me know!

[2016-11-01 10:10] psotelo commented on #264
I have installed videoangular2 from npm as you indicate in documentation files. I have followed all these instructions.

un saludo y gracias

-
Pablo Sotelo
www.pablosotelo.com
606789409

El 1 nov, 2016, a las 10:33, Raúl Jiménez <notifications@github.com> escribió:

I'm using it with the Angular 2 final version. Did you tried with the https://github.com/videogular/videogular2-starter repo?

—
You

[2016-11-01 10:14] Elecash commented on #264
Yeah... well, we need to update the docs I think :P

If you can I recommend you to use the starter repo, I'll try to work on it this weekend.

[2016-11-01 10:23] psotelo commented on #264
Ok, I will read it at the end of the morning. If I've understood correctly I shouldn't use npm installation and download github project, not?

un saludo y gracias

-
Pablo Sotelo
www.pablosotelo.com
606789409

El 1 nov, 2016, a las 11:14, Raúl Jiménez <notifications@github.com> escribió:

Yeah... well, we need to update the docs I think :P

If you can I recommend you to use the starter repo, I'll

[2016-11-01 10:25] Elecash commented on #264
Just for the starter repo and do whatever you want there. The starter is a webpack project with a default player with everything you need to start working with Videogular2.

[2016-11-01 10:40] psotelo commented on #264
Ok, it's a complete project. I will check it in order to import it to my current project.

thanks

El 1 nov, 2016, a las 11:25, Raúl Jiménez <notifications@github.com> escribió:

Just for the starter repo and do whatever you want there. The starter is a webpack project with a default player with everything you need to start working with Videogular2.

—
You are receiving this because you authored t

[2016-11-01 19:26] psotelo commented on #264
Resolved, I have downloaded github project and move the projects code to mine. Thank you

[2016-11-01 19:26] #264 closed

[2016-11-01 19:27] psotelo opened #266 "Redirect to component when video finishes"
Hi!

have videogular2 any way to control the end of the video automatically?  I supose something similar like "onComplete" in your first version for AngularJS

Thanks

[2016-11-01 19:48] psotelo commented on #266
I've found it. The "ended" event.

[2016-11-01 19:48] #266 closed

[2016-11-02 00:59] rusmaxim opened #267 "Undefined Interface TextTrackCueList"
### Description
Cannot find TextTrackCueList declaration

### Expected Behavior
TextTrackCueList should be defined

### Actual Behavior
TextTrackCueList nor defined

[2016-11-02 06:20] RavishankarR opened #268 "Not able to compile the project as given in the README.md"
### Description
I tried the 'npm start' command from the directory of master.

### Expected Behavior
Should compile and give output that the project is compiled successfully.

### Actual Behavior
Got the errors as follows:
E:\videogular2-master>npm start

'parallelshell' is not recognized as an internal or external command,
operable program or batch file.

npm ERR! Windows_NT 10.0.14393
npm ERR! a

[2016-11-02 09:26] RavishankarR opened #269 "Too many errors when used in Visual Studio project"
### Description
Package is unusable in a Visual Studio project due to excessive errors.

### Expected Behavior
Should atleast be able to build the solution without any issue.

### Actual Behavior
Unable to import any of the packages as suggested in the 'Getting started' page. List of errors that were encountered when importing the following components:

import {VgPlayer} from 'videogular2/core';
i

[2016-11-03 11:54] anil1712 opened #270 "AoT compilation failed"
Hi,

I have successfully integrated the library with my angular2 project and its working fine but whenever I try to compile the project using `AoT` then its showing below error in console.

` Unexpected value 'VgCore' imported by the module 'AppModule'`

Please suggest me any solution. Help me to out of it.

Thanks,
Anil

[2016-11-04 15:36] drejohnson commented on #266
@psotelo I'm looking for a similar solution. Care to share your solution?

[2016-11-04 15:43] Elecash commented on #266
@drejohnson there's an `ended` observable that you can subscribe to.

[code]

[2016-11-04 16:00] drejohnson commented on #266
@Elecash This is exactly what I was looking for, thanks!

[2016-11-04 16:18] Elecash commented on #266
You have all subscriptions here: https://github.com/videogular/videogular2/blob/master/src/vg-media/vg-media.ts#L57-L72

[2016-11-04 16:18] Elecash commented on #266
@drejohnson You have all subscriptions here: https://github.com/videogular/videogular2/blob/master/src/vg-media/vg-media.ts#L57-L72

[2016-11-05 00:20] Elecash commented on #267
TextTrackCueList is a native object, it should be detected by your code editor.

Here's the interface provided by WebStorm in case you want to add it to your project:

[code]

[2016-11-05 00:20] #267 closed

[2016-11-05 00:26] #268 closed

[2016-11-05 05:30] anil1712 commented on #270
@Elecash Did you get any solution for `AoT` compilation fail issue ?

[2016-11-05 16:45] Elecash commented on #270
Not sure which one can be the problem but you can use the videogular2-starter that has support for AOT.

https://github.com/videogular/videogular2-starter

[2016-11-06 23:47] #255 closed

[2016-11-09 12:50] gmenih341 opened #277 "vg-for doesn't work"
### Description
I have two different players. I want them to have separate controls, so I'm trying to user `vg-for`, but it causes an error `Error: Template parse errors`. This happens when I use vg-for anywhere,

### Expected Behavior
`vg-for` works and binds controls to one player only.

### Actual Behavior
`vg-for` causes `Template parse error`. Without using it, the controls will effect both v

[2016-11-09 13:20] Elecash commented on #277
@gmenih341 can you post your html and ts code?

[2016-11-09 13:57] gmenih341 commented on #277
I have a bunch of slides in `ng2-bootstrap`'s `carousel`.

[code]

[2016-11-09 13:58] gmenih341 commented on #277
@Elecash ^

[2016-11-09 14:01] Elecash commented on #277
I bet that the problem is the `ngIf`.

I've encountered this problem the other day, probably we need to update the API medias every time a `vg-media` is created or destroyed.

[2016-11-09 14:08] gmenih341 commented on #277
I don't know... Removing all `ngIf`s doesn't fix the problem.

[2016-11-09 21:58] deeg commented on #261
@Elecash, and update on it working with webpack?

It does not seem to work for me. Anywhere I can help out with this?

[2016-11-10 01:19] psotelo opened #278 "Error in Safari OSX"
I'm using videoangular2 and it's all correct in Chrome and Firefox but in Safari I get this error:

`EXCEPTION: Error in ./VgTimeDisplay class VgTimeDisplay - inline template:1:14 caused by: Can't find variable: Intl`

`ViewWrappedError
_nativeError: Error: Error in ./VgTimeDisplay class VgTimeDisplay - inline template:1:14 caused by: Can't find variable: Intl
column: 38
line: 4115
message: "Error

[2016-11-10 22:21] scottopolis commented on #249
Hello, I'm using angular-cli: 1.0.0-beta.19-3 and still seeing this error.  I am on the latest version of Ionic 2 and ionic-app-scripts, here is the error:

Uncaught Error: Unexpected value 'VgCore' imported by the module 'AppModule'(…) webpack:///./~/@angular/compiler/src/metadata_resolver.js?:241

Any help is appreciated, thanks!

[2016-11-12 12:36] Elecash commented on #249
@scottopolis we moved the https://github.com/videogular/videogular2-starter to angular-cli.

AOT compilation is working for me in that repo.

[2016-11-12 12:36] Elecash commented on #270
We moved the https://github.com/videogular/videogular2-starter to angular-cli.

AOT compilation is working for me in that repo.

[2016-11-12 12:36] #270 closed

[2016-11-12 12:37] Elecash commented on #269
Please, try https://github.com/videogular/videogular2-starter which has been moved to angular-cli.

[2016-11-12 12:37] #269 closed

[2016-11-12 12:39] Elecash commented on #261
We moved the https://github.com/videogular/videogular2-starter to angular-cli.

AOT compilation is working for me in that repo and you can create distribution files by running `ng build --prod --env=prod`. Test it with `ng serve --prod --env=prod`.

For more info on how to use the angular-cli please check the docs on the official repo.

[2016-11-12 12:39] #261 closed

[2016-11-12 12:40] Elecash commented on #220
We moved the https://github.com/videogular/videogular2-starter to angular-cli.

Please, check that repo or fork it to create your media player.

[2016-11-12 12:40] #220 closed

[2016-11-12 12:42] Elecash commented on #277
@gmenih341 are you using angular-cli?

We moved the https://github.com/videogular/videogular2-starter to angular-cli so maybe you can give it a try.

[2016-11-13 20:50] #245 closed

[2016-11-14 17:30] Elecash commented on #278
Are you loading the polyfills?

This seems a problem with a polyfill: http://stackoverflow.com/questions/35017800/ionic-2-using-angular-2-pipe-breaks-on-ios-cant-find-variable-intl

[2016-11-14 17:41] Elecash commented on #278
BTW, tested with https://github.com/videogular/videogular2-starter and it works fine in Safari.

[2016-11-20 20:40] #31 closed

[2016-11-21 03:34] giaule opened #285 "How to add function next, pre a playlist mp3"
Dear support,

I'm doing function play a playlist.

I want add function button next pre.

Please help em,
Thanks

[2016-11-21 13:31] p5hema2 opened #286 "Cant change Volume if Parent div has offsetLeft"
### Versions
Bug: 1.1.1 (FF, Chr, IE, Edge, Saf, Saf Mob, Chr Mob)
Bug: 1.2.0 (FF, Chr, IE, Edge, Saf, Saf Mob, Chr Mob)

Fix:  (FF, Chr, IE, Edge, Saf)

### Description
Cannot change Volume when videogularcomponent is nested inside an component with own offsetLeft.

Bug 1: event.x is an experimental feature of some browsers. Instead use clientX
Bug 2: offsetLeft is the Value to the next parent wh

[2016-11-21 14:14] Elecash commented on #286
@p5hema2 can you do a PR with the fix?

I'm happy to merge it if you can do it 😄

[2016-11-21 14:21] p5hema2 commented on #286
i'll test it on mobile applications right now. stay tuned

[2016-11-21 14:30] Elecash commented on #286
PR => Pull Request, sorry about the abbreviation, I should be more explicit.

We've not tested a lot on mobile, so please, open issues if you see any problem.

[2016-11-21 14:45] p5hema2 commented on #286
Mobile still buggy, looking for solution :-)

PS: Safari Mobile fullscreen not working and mm:ss conversion buggy on all browsers but Chrome and FF. Creating tickets for that later

[2016-11-21 14:53] p5hema2 commented on #286
calculation is correct on mobile browsers but:

this.target.volume is set to a value between 0 -- 100 but the volume does not change, so the error is not in the vg-volume.ts

[2016-11-21 14:59] Elecash commented on #286
Mobile browsers can't change the volume because it's forbidden by OS.

The fix here should be to hide the volume when the player is running in a mobile browser.

[2016-11-21 15:03] p5hema2 commented on #286
i am not used to pull-requests, here you have a gist.

https://gist.github.com/p5hema2/04582484a2e5f8f9bcd8b0f5a971429c

To Mobile Browser: then take look at https://github.com/ManuCutillas/ng2-responsive
It is a superset of RESPONSIVE DIRECTIVES.

[2016-11-21 15:05] p5hema2 opened #287 "Fullscreen on Safari Mobile not working."
### Description
Fullscreen on Safari Mobile not working.

### Expected Behavior
Fullscreen :-)

### Actual Behavior
Button changing icon but video stays minified. No furter bugs video plays normaly

### Steps to Reproduce
open videogular demo on iPad

[2016-11-21 15:13] #278 closed

[2016-11-22 22:41] uiktiomasfeliz opened #290 "Stuck on buffering..."
### Description
I have problems when i try to play videos (mp4) from my server side accesible folder, when i hit play it's stuck on loading (example video works fine). Tried also sanitize url using this -> https://angular.io/docs/ts/latest/guide/security.html
Same results
With `<video></video>` work's fine, but i need videogular2.

### Steps to Reproduce
*If this is an issue, describe the steps yo

[2016-11-23 09:28] uiktiomasfeliz commented on #290
Using [this ](http://laravel.io/forum/10-06-2014-streaming-video-files-with-laravel) on my service fix the load error.

[2016-11-23 09:28] #290 closed

[2016-11-23 09:32] Elecash commented on #290
Thanks for sharing :)

[2016-11-23 15:40] uiktiomasfeliz opened #291 "Can't see some icons"
Hy there, i can't enable the icons that missing. The function work's but i can't see them.
Tried change the style, but nothing.

![image](https://cloud.githubusercontent.com/assets/5663564/20568043/59b042ce-b19b-11e6-89d4-562bc8f1b6c4.png)

[2016-11-23 15:42] Elecash commented on #291
If you're using the Angular CLI you need to add the videogular CSS to the `styles` property in angular-cli.json file.

[code]

[2016-11-23 15:47] uiktiomasfeliz commented on #291
And with a system.config.js is it possible? i don't find angular-cli.json

[2016-11-23 15:51] Elecash commented on #291
I recommend you to use the Angular CLI with Webpack, it will give you tree-shaking and other cool features and it's really easy to use.

In case you want to continue with SystemJS you can just copy the CSS to a folder and link it in the HTML as a regular CSS file.

[2016-11-23 15:53] uiktiomasfeliz commented on #291
Thanks a lot, in the future i'll change the project to angular cli.

[2016-11-23 15:53] #291 closed

[2016-11-23 16:29] uiktiomasfeliz commented on #286
I had this issue on chrome desktop version 54.0.2840.98
The volumen it can be changed, only muted

[2016-11-24 13:46] ashersz opened #293 "error: Unexpected value 'VgCore' imported by the module 'AppModule'"
### Description
I get the following error while importing the Videogular2 modules in appModule without using it in my meteor 1.4.2 angular2-meteor app
I was able to build an run the starter app w/o problems
I get the same error using the same steps with the angular2-meteor-base starter app at
https://github.com/urigo/angular2-meteor-base. Seems that videogular2 is not compatible with angular2-mete

[2016-11-25 13:16] zjrwap opened #294 "rm' 不是内部或外部命令 windows"
rm' 不是内部或外部命令 windows

[2016-11-30 15:48] lenvonsam commented on #293
I also faced this problem. Any updates?

[2016-11-30 16:00] Elecash commented on #293
This is a problem with AOT probably.

I'll try to fix it this weekend.

[2016-12-01 02:29] lenvonsam commented on #293
ok,thx,best wishes
----- 原始邮件 -----
发件人：Raúl Jiménez <notifications@github.com>
收件人：videogular/videogular2 <videogular2@noreply.github.com>
抄送人：lenvonsam <yanjuncr@sina.com>,  Comment <comment@noreply.github.com>
主题：Re: [videogular/videogular2] error: Unexpected value 'VgCore' imported by the module 'AppModule' (#293)
日期：2016年12月01日 00点00分

This is a problem with AOT probably.
I'll try to fix it t

[2016-12-02 14:12] limsko opened #295 "Videogular hangs on Microsoft Edge"
### Description
The player hangs on Microsoft Edge when trying to jump several times with seekbar.

### Steps to Reproduce
  1. Open Microsoft Edge
  2. Go to webpage http://www.videogular.com/
  3. Start video and try to change position with seekbar several times

### Attachments
Screencast with reproduced bug:
https://drive.google.com/open?id=0B88ptoReUr1zaTRJVUxyRk1vdHc

[2016-12-04 02:12] lenvonsam commented on #293
any updates? @Elecash

[2016-12-05 07:47] limsko commented on #295
I've reported this bug in wrong project. Moved to: https://github.com/videogular/videogular/issues/432

[2016-12-05 07:47] #295 closed

[2016-12-05 09:03] Elecash commented on #293
I've worked on it this weekend, still having some issues making it work with AOT because I have several modules (not only one). BTW, any help is appreciated :)

[2016-12-05 15:24] anthonymougin commented on #293
Same issue for me

[2016-12-05 15:32] micheltol opened #297 "Playlist for videos?"
Hi,

is there a possibility in videogular2 to have a video playlist? Based on the samples I couldn't figure it out.
If anybody could point me in the  right direction that would be great!

tnx!
michel

[2016-12-05 17:50] uiktiomasfeliz opened #298 "Duration time bug?"
Hello,
I'm trying to get the time using {{ api.duration * 1000 | date:'HH:mm' }}and returns me 01:18 when the video duration is 18minutes and 16 seconds

Also i need to convert the total time into seconds.

I guess that the time format is in epoch, no?

[2016-12-05 17:53] uiktiomasfeliz commented on #297
Hi @micheltol , you can use a second array with url's and change source with a event when needed or when the player end the video playing with:

`onPlayerReady(api:VgAPI) {
        this.api = api;
		 this.api.getDefaultMedia().subscriptions.ended.subscribe(
				() => {
				  //change source here, if you got problem updating you can use ngZone inside
				}
			);

    }`

[2016-12-05 18:33] micheltol commented on #297
Tnx for the tip! I am gonna give that a try!

On Dec 5, 2016 18:53, "Mr. D" <notifications@github.com> wrote:

Hi @micheltol <https://github.com/micheltol> , you can use a second array
with url's and change source with a event when needed or when the player
end the video playing with:

`onPlayerReady(api:VgAPI) {
this.api = api;
this.api.getDefaultMedia().subscriptions.ended.subscribe(
() => {
//c

[2016-12-06 10:25] simkepal opened #299 "Hls Example"
Hello,

I have a problem to implement player to play Hls video. Is there any example available for this? Can you please help me.

Thank you!

[2016-12-06 10:39] Elecash commented on #299
@simkepal you can take a look to the official demo:
https://github.com/videogular/videogular2-showroom/tree/master/src/app/streaming-player

You need to install hls.js and add it to your angular-cli.json:
https://github.com/videogular/videogular2-showroom/blob/master/angular-cli.json#L29

Then you can use `vg-hls` input property in your `video` tag: https://github.com/videogular/videogular2-showro

[2016-12-06 11:58] simkepal commented on #299
Great, Thank you!! I did not see that.

What about, if I want to have multiple players on one page?

[2016-12-06 12:11] Elecash commented on #299
You should have several `vg-player` tags inside the same component and that's it I think.

You can also have several `video` tags inside the same `vg-player` and to set one as master and the other as slave. You can see more info about it here: https://github.com/videogular/videogular2/blob/master/docs/master-media.md

[2016-12-06 12:26] simkepal commented on #299
I have several vg-player tags. But all play in one player, the last one.
I want to have players in article between text like this.

Text
Player
Text
Text
Player
Text

[2016-12-06 12:38] Elecash commented on #299
What do you mean that all play in the last player?

[2016-12-06 13:02] simkepal commented on #299
Like this:
If I click on the first video it plays the last one.
https://dl.dropboxusercontent.com/u/19707975/videogular2-hls.mp4

[2016-12-06 17:30] Elecash commented on #299
I'll do some tests, can you open a new issue with this bug and close this one if you already know how to play HLS?

Thanks.

[2016-12-07 08:10] #299 closed

[2016-12-07 08:18] simkepal opened #300 "Multiple instances of player play in the last one"
Hello,

I have a problem if I have multiple players in one article. The problem is, that if I click to play the first video it always plays the last one. My example looks like this:
BODY component:
[code]

And the onl-article-video component than looks like this.

[code]

Can anyone please help me with this?

Thank you!!!

[2016-12-07 08:21] simkepal commented on #270
Hello,

I get the same error....

I use the angular cli 1.0.0-beta.21

[2016-12-07 10:38] Elecash commented on #298
Try with `api.time.total` instead.

The object `api.time` has three properties `current`, `left` and `total` with times in milliseconds. The native HTML5 API provide similar values but in seconds.

Also you should change your date pipe to `date:'mm:ss'`.

[2016-12-07 10:38] #298 closed

[2016-12-08 09:54] simkepal opened #302 "Ads, PreRoll, PostRoll"
Hello,

I have one more problem. We want to play a video ad before (PreRoll) and after (PostRoll) the original video. Is there any solution for this? Or is it anything planned?

Thank you for your help!

[2016-12-08 09:58] Elecash commented on #302
Yes, we have a Google IMA module for that.

You can take a look to it here: https://github.com/videogular/videogular2-showroom/tree/master/src/app/google-ima-player

[2016-12-08 09:58] #302 closed

[2016-12-08 19:49] deeg opened #303 "Issue using with Angular 2 and Webpack"
### Description
* I am looking to use this library with my Angular 2 & webpack app. We are not using angular-cli.

### Expected Behavior
* I should be able to include your library in my package.json and use the library like normal.

### Actual Behavior
* During build time with webpack, I am running into errors from various loaders having to do with files from your package.

For instance the ts-loa

[2016-12-10 11:36] Elecash commented on #303
Please install Videogular2@2.0.0 to fix this.

[2016-12-10 11:36] #303 closed

[2016-12-10 11:36] Elecash commented on #293
Please install Videogular2@2.0.0 to fix this.

[2016-12-10 11:36] #293 closed

[2016-12-11 16:09] ashersz opened #308 "error: /node_modules/videogular2/core/index"' has no exported member 'VgCore'"
Hello,
Thanks for your fast update for the aot support that should fix #293
I tried first the getting started app and I got the following error
error: /node_modules/videogular2/core/index"' has no exported member 'VgCore'
failing at following line
import {VgCore} from 'videogular2/core';
before the aot support update the getting started app was working.
I guess that the docs were not updated yet.

[2016-12-12 13:13] uiktiomasfeliz commented on #300
Same error here, vg-overlay-play get instance of last player

[2016-12-12 22:49] uiktiomasfeliz commented on #277
Same error here, when i try using [vg-for]="someObject.value" got template error, also tried [vgFor] or vg-for={{someObject.value}} no success. i'm using latest angular-cli.

[2016-12-12 22:56] deeg commented on #308
I believe it should now be VgCoreModule. It is noted under the releases in github.

[2016-12-12 23:11] deeg opened #311 "Error importing VgCoreModule into my AppModule"
### Description
When trying to import the library modules into my app I get an error:

```Uncaught Error: Unexpected value 'VgCoreModule' imported by the module 'AppModule'```

I am not using angular-cli in my app.

Webpack 1.14.0, Angular 2.3.0, Videogular2 2.0.1 (also tried 2.0.0)

### Expected Behavior
The import of the module should work and my app should load.

### Actual Behavior
The app doe

[2016-12-13 09:27] Elecash commented on #311
Yes, it worked on my local but then I cleaned node_modules and it's still not working.

It's a pretty tough problem because I can't debug it, I'll keep working on it. Any help is very welcomed here.

[2016-12-13 09:27] Elecash commented on #308
Yes, closing.

[2016-12-13 09:27] #308 closed

[2016-12-14 09:16] ashersz commented on #308
I tried VgCoreModule and I got
Uncaught Error: Unexpected value 'VgCoreModule' imported by the module 'AppModule'(…)  at vg-buffering.ts line 153

[2016-12-14 14:54] deeg commented on #308
Duplicate of #311.

It is polite to look at open issues first. It is also not the best idea to reuse old closed issues.

[2016-12-14 15:42] Elecash commented on #311
Ok, I think that I got it...

I need to do a breaking change but it should work. I'll update all repos and docs so you can expect a release before the end of the week.

[2016-12-16 07:59] uiktiomasfeliz commented on #277
@Elecash any news?

[2016-12-16 08:07] Elecash commented on #277
A massive update is coming this weekend probably and it will fix lots of issues.

In the meantime you can probably workaround this by changing your template to this:

[code]

[2016-12-16 08:08] Elecash commented on #277
@uiktiomasfeliz btw, did you tried by removing the `[vg-for]`? I just don't see that you really need it in your case.

[2016-12-16 08:12] uiktiomasfeliz commented on #277
@Elecash yes i tried without [vg-for], but the ```<vg-play-pause></vg-play-pause>``` of any vg-player works only for the last one.

[2016-12-16 08:21] uiktiomasfeliz commented on #277
my html contains:

![image](https://cloud.githubusercontent.com/assets/5663564/21256135/ce722b2c-c370-11e6-92a1-49ce997249b2.png)

and the component content:

![image](https://cloud.githubusercontent.com/assets/5663564/21256155/ede674b8-c370-11e6-8f81-9ca46eb7a1ba.png)

[2016-12-16 08:30] Elecash commented on #277
@uiktiomasfeliz ok, that's another issue probably related with https://github.com/videogular/videogular2/issues/300

You should be using `vg-for` only if you have several `video` tags at the same time inside of the same `vg-player`. For example in case of you want to have two videos inside the same `vg-player` container but you want to play each video with a different `vg-play-pause` button.

[2016-12-16 08:31] #297 closed

[2016-12-16 08:31] #294 closed

[2016-12-16 08:33] uiktiomasfeliz commented on #277
Ok, i'll track the #300 for any updates. Thanks @Elecash

[2016-12-16 08:34] Elecash commented on #285
Maybe this may help you.

https://github.com/videogular/videogular2/issues/297

[2016-12-16 08:34] #285 closed

[2016-12-16 08:42] Elecash commented on #277
@uiktiomasfeliz ok, closing, because actually this is not an issue. Please track this on #300

[2016-12-16 08:42] #277 closed

[2016-12-18 06:42] seyfert opened #315 "VgMedia.ngOnDestroy causes error when routing"
### Description
Videogular errors when navigating away from route with video.

### Expected Behavior
Should be able to change routes without causing an error.

### Actual Behavior
Error:  `TypeError: this.subscriptions.mutation.unsubscribe is not a function at VgMedia.ngOnDestroy`

### Steps to Reproduce
  1. Clone videogular2-starter
  2. Copy AppComponent videogular ts/html to new component (e.g

[2016-12-18 09:50] #300 closed

[2016-12-18 09:50] #311 closed

[2016-12-18 09:50] #315 closed

[2016-12-18 10:04] Elecash commented on #315
Please, update to 3.0.0 and check breaking changes here: https://github.com/videogular/videogular2/releases

All docs and demos has been updated too so for further documentation please check:
- Documentation: https://github.com/videogular/videogular2/tree/master/docs
- Showroom: https://github.com/videogular/videogular2-showroom

[2016-12-18 10:04] Elecash commented on #311
Please, update to 3.0.0 and check breaking changes here: https://github.com/videogular/videogular2/releases

All docs and demos has been updated too so for further documentation please check:
- Documentation: https://github.com/videogular/videogular2/tree/master/docs
- Showroom: https://github.com/videogular/videogular2-showroom

[2016-12-18 12:33] anil1712 commented on #175
Hi,

I have just update the version to `2.0.1` after then I am getting this error on console

[2016-12-18 14:54] jskrzypek opened #317 "Missing ref of @types/es6-shim"
### Description
We use `@types/core-js` in our app and not `@types/es6-shim`. We can't use both because they have overlapping definitions, and we are not prepared to switch away from `core-js` as it has stuff we need for other parts of our app. The type reference directives for `es6-shim` in various of `videogular2`'s declaration files are preventing us from being able to use `videogular2` without

[2016-12-18 15:20] anil1712 opened #318 "Multiple videos not working"
### Description
*I am looping the `vg-player` but the controls are not handeling seperately*

### Expected Behavior
*The play/pause/mute etc buttons should work individually*

### Actual Behavior
*Let us say I have 3 videos and I clicked play button for 1st video, but its showing all 3 videos in playing state*

### Steps to Reproduce
*Check the below codes*

[code]

Also I am getting this exceptio

[2016-12-18 16:08] Elecash commented on #318
Please, update to 3.0.0 and check breaking changes here: https://github.com/videogular/videogular2/releases

All docs and demos has been updated too so for further documentation please check:

Documentation: https://github.com/videogular/videogular2/tree/master/docs
Showroom: https://github.com/videogular/videogular2-showroom

[2016-12-18 16:08] #318 closed

[2016-12-18 16:09] Elecash commented on #175
@anil1712 update to v3.0.0

[2016-12-19 07:20] anil1712 commented on #318
Hi,
Thanks for reply. I just updated to 3.0.0 and I had to `VgCoreModule` instaead of `VgCore` (In the document you have mentioned `import {VgCore} from 'videogular2/core'`)

[2016-12-19 16:46] doender commented on #290
I have the same problem, but I don't have the possibility to change anything on the server-side. Like @uiktiomasfeliz said, it works with the <video> tag. How can this be solved?

[2016-12-19 20:24] uiktiomasfeliz commented on #290
@doender you have to stream the video file or use some service that offers you that possibility.

[2016-12-20 08:33] Elecash commented on #290
@doender can you share your media file? It looks like a server issue.

[2016-12-20 09:27] doender commented on #290
I used for example http://techslides.com/demos/sample-videos/small.mp4

[2016-12-20 10:04] daslicht opened #323 "'videogular2/core' has no exported member 'VgCore'."
### Description
When I add the following import to my ng2 app module I get the following error.

Import:
```import {VgCore} from 'videogular2/core';```

Error:
[code]

What's wrong, please?

[2016-12-20 10:05] Elecash commented on #323
Sorry, we need to update the docs, it should be `VgCoreModule`.

[2016-12-20 10:05] daslicht commented on #323
thanks  for the chat um ... ultra fast reply !

[2016-12-20 10:05] #323 closed

[2016-12-20 10:05] daslicht commented on #323
solved :)

[2016-12-20 12:52] daslicht commented on #257
I have the same issue,

broken link:
https://github.com/videogular/videogular2/tree/master/examples/bound-player

Where do I find this example please?

[2016-12-20 13:14] Elecash commented on #257
This has been moved here: https://github.com/videogular/videogular2-showroom/tree/master/src/app/bound-player

[2016-12-21 21:22] kdorion opened #332 "HLS with crossorigin attribute"
### Description
Currently, the crossorigin attribute is ignored when used with vgHls directive.

### Expected Behavior
crossorigin attribute value should be used to load the media.

### Actual Behavior
Cookies are not attached to the http call to fetch the media when using crossorigin="use-credentials"

Thanks !

[2016-12-22 09:38] simkepal opened #333 "HLS preload"
Hello,

In my case I add HLS video to the site and I don't  auto start. So the user has to click if it wants to play the video. The problem is, that the videogular starts to download ts files. I think this is not OK.

Can you please help me find the solution for this?
![zaslonska slika 2016-12-22 10-34-18](https://cloud.githubusercontent.com/assets/1116275/21421367/bf4c3716-c832-11e6-92dd-39c63924

[2016-12-22 11:32] Elecash commented on #318
You can put the poster directly on the `video` tag as suggested by the native HTML5 video api.

More info here: https://developer.mozilla.org/en/docs/Web/HTML/Element/video

[code]

[2016-12-22 15:12] Elecash commented on #290
@doender remove the `crossorigin` attribute from the `video` tag in case you have it and try again.

[2016-12-22 15:44] #333 closed

[2016-12-23 03:20] anil1712 commented on #318
Thanks for the reply for poster, but why I am getting this exception in console.
`Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause()`

Also in my case none of the videos are getting played, only buffer image is shown, can you please check the above code and let me know I am missing something.

Thanks.

[2016-12-26 13:07] numerized commented on #291
Same here when using in Ionic2.

Workaround is to copy the css content and copy the fonts in ionic scss.

[2016-12-26 14:34] numerized opened #337 "vgAutohide"
### Description
vgAutohide:boolean and vgAutohideTime:number are working when placed on vg-controls html tag and do their job perfectly. The thing is if we want to hide the vg-scrub-bar it won't work.

### Expected Behavior
vgAutohide has to work as well for vg-scrub-bar

### Attachments
@Input() vgAutohide:boolean = false;
@Input() vgAutohideTime:number = 3;

<img width="660" alt="screen shot 201

[2016-12-27 08:23] zivkaziv commented on #175
Try this:
in system-config.ts

...
map:{
'videogular2': 'videogular2',
},
packages:{
'videogular2':{
                main: 'core.js',
                defaultExtension:'js'
            }
}
...

[2016-12-27 17:09] ghaiat commented on #317
hello, any update on this ? this is a real issue when using corejs

[2016-12-28 06:59] darpanpathak opened #339 "control options are not visible"
### Description
Play/Pause button and full-screen icon are not visible. However, they are working fine if we click that area. I have uploaded an image for your reference. Can you please check what can be the issue ?

![capture](https://cloud.githubusercontent.com/assets/9738648/21515851/2e2b42d8-ccf9-11e6-9600-33007828566f.PNG)

[2016-12-28 09:47] Elecash commented on #339
You need to add the font to your build system.

You can find it at `node_modules/videogular2/fonts/videogular.css`. If you're using the angular-cli just add it to the `styles` property on the angular-cli.json file.

[code]

[2016-12-28 10:47] darpanpathak commented on #339
Hi @Elecash

thanks for the quick reply. This answer helped me a little bit.

It should be

`"stylesUrls": [
    "../node_modules/videogular2/fonts/videogular.css",
    "styles.css"
],`

[2016-12-28 10:59] Elecash commented on #339
@darpanpathak that's for `@Component()`, not for the `angular-cli.json` file.

Closing anyway.

[2016-12-28 10:59] #339 closed

[2016-12-29 11:48] jskrzypek opened #340 "Unable to tree-shake RxJS correctly because of omnibus 'rxjs' imports"
### Description
I'm unable to correctly tree-shake my bundle because `videogular2` imports `'rxjs'` and `'rxjs/Rx'` in several files.

### Expected Behavior
It would be better if `videogular2` imported directly from `'rxjs/Observable'` etc. this is partially the case, but not followed in some files, e.g. `vg-cue-points.ts` and `vg-media.ts`.

### Actual Behavior
Currently I still end up with the f

[2016-12-29 21:33] jessemorton commented on #286
Any update on this? @Elecash At this point, is the PR just needing to be completed w/the gist code from @p5hema2?

[2016-12-29 21:35] #340 closed

[2016-12-29 23:21] Elecash commented on #317
I've migrated to core-js since es6-shim was adding the triple-slash directives for no reason I think.

[2016-12-29 23:40] Elecash commented on #317
Hummm... testing this and it seems that it gives me a new error `ERROR in VgCoreModule is not an NgModule`, so for now I'm moving back again to es6-shim until I find a better way to fix this.

Sorry guys.

[2016-12-29 23:51] Elecash commented on #317
Closing again. It was that I updated to Typescript 2.1.X and it seems that it's not compatible with `ngc`.

Working version is 3.1.4.

[2016-12-29 23:51] #317 closed

[2016-12-30 10:27] #332 closed

[2016-12-30 10:28] Elecash commented on #332
@kdorion I've added CORS support to videogular2 v3.2.0, can you test it and tell me that it works?

[2016-12-30 10:41] #2 closed

[2017-01-02 23:57] jessemorton opened #347 "Styling, Functionality Problems with iPad mobile Safari"
### Description
Having issues experiencing player correctly on iPad w/mobile Safari 8.0 (using Xcode simulator).

### Expected Behavior
Load a page w/the player, and you'd see / experience the player as in other browsers.

### Actual Behavior
 1. Sometimes player doesn't load at all (but seems due to Angular2 issue - see *Steps to Reproduce* below), such as on Videogular alpha site.

 2. In my loc

[2017-01-03 09:46] Elecash commented on #347
Can you test with this URL? https://videogular.github.io/videogular2-showroom/#/

I'm pretty sure that you will have problems too because we're still fixing some issues on mobile/tablet devices.

[2017-01-03 15:49] jessemorton commented on #347
@Elecash Thanks for the quick reply.

I'm currently in the process of updating Xcode for the simulator, so will report back when I have tested w/the simulator, but in the meantime I see that on an actual iPad with Safari 9.0 the URL you sent does have some issues, but some success.

### Successes
* Single Player
    * Pressing play icon in lower-left does play/pause the video
    * Pressing speed

[2017-01-03 17:39] jessemorton commented on #347
Update on the simulator situation. I needed to upgrade Xcode to be able to test newer versions of iOS for my app. I was able to run in Safari 8 in the Xcode simulator before, and now am able to run in Safari 8 and 10. In Safari 10, there's way less issues both on the Videogular demos and in my local app.

The only problems I see in Safari 10 are:
* Volume button not functioning
* Full-screen butto

[2017-01-03 19:21] scottopolis commented on #317
Hi, I'm still getting the error mentioned above:

Typescript Error
Cannot find type definition file for 'core-js'.
node_modules/videogular2/src/core/services/vg-api.d.ts
import { EventEmitter } from '@angular/core';
import { IPlayable } from "../vg-media/i-playable";

Typescript Error
Cannot find type definition file for 'core-js'.
node_modules/videogular2/src/core/vg-media/i-playable.d.ts
import

[2017-01-03 20:17] jskrzypek commented on #317
You need to install `@types/core-js` and make sure to add `node_modules/@types` to your tsconfig's typeRoots

[2017-01-03 20:38] scottopolis commented on #317
@jskrzypek thanks, but adding @type/core-js seems to have caused more issues. There are about 30 messages like the ones below:

Typescript Error
Duplicate identifier 'PropertyKey'.
node_modules/@types/core-js/index.d.ts
* target object. Returns the target object.
* @param target The target object to copy to.
* @param source1 The first source object from which to copy properties.

Typescript Error

[2017-01-03 20:43] jskrzypek commented on #317
I'd advise reading up on types & typeRoots from the TS handbook. Post your
tsconfig if you want more help. Also your tsd.json or typings.json if you
have one

On Tue, Jan 3, 2017, 22:38 Scott Bolinger <notifications@github.com> wrote:

[2017-01-03 20:47] scottopolis commented on #317
Here's my .tsconfig, I don't have those other files:

[code]

[2017-01-03 21:04] jskrzypek commented on #317
Ah OK, don't include the @types

Instead add a typeRoots property to your tsconfig's compilerOptions like
this:

[code]

On Tue, Jan 3, 2017, 22:47 Scott Bolinger <notifications@github.com> wrote:

[2017-01-03 21:23] scottopolis commented on #317
Still getting the same errors. I'll keep working at it, thanks for your help.

[2017-01-04 10:56] simkepal opened #348 "Error in 3.2.1"
Hello,

when updating to version 3.2.1 I get there errors.

[default] Checking started in a separate process...
[default] /home/simke/Work/cekin/website/node_modules/videogular2/src/core/services/vg-api.d.ts:1:1
    Cannot find type definition file for 'core-js'.
[default] /home/simke/Work/cekin/website/node_modules/videogular2/src/core/vg-media/i-playable.d.ts:1:1
    Cannot find type definition

[2017-01-04 11:10] Elecash commented on #348
Please, install `@types/core-js` and check again.

[2017-01-04 12:23] simkepal commented on #348
I did install @types/core-js and now I get even more errors. I use angular 2.2.1. Is maybe this a problem?

[default] Checking started in a separate process...
[default] /home/ratko/Delo/cekin/website/node_modules/@types/core-js/index.d.ts:21:14
    Duplicate identifier 'PropertyKey'.
[default] /home/ratko/Delo/cekin/website/node_modules/@types/core-js/index.d.ts:85:5
    All declarations of 'name

[2017-01-04 15:19] RatkoR opened #349 "Events from hls.js"
Videogular uses hls.js when playing m3u8. Is it possible to get the hls.js events as described on https://github.com/dailymotion/hls.js/blob/master/API.md#runtime-events?

And thank you for the videogular2!

[2017-01-05 15:36] randstein opened #350 "On pages with multiple videos the full-screen button displays the wrong video"
### Description
With more than one video on a page the full-screen button always leads to the last video on the page.

### Expected Behavior
After using the full-screen button the appropriate video should be displayed.

### Actual Behavior
The full-screen button always leads to the last video on the page.

### Steps to Reproduce
The showroom shows this bug too.
https://videogular.github.io/videogu

[2017-01-07 10:21] Elecash commented on #348
Probably you have `@types/core-js` and `@types/es6-shim`, you should have only `@types/core-js`.

[2017-01-07 10:55] Elecash commented on #348
@simkepal I've tried with the videogular2-starter and you're right, I had the same problems.

After updating to Angular CLI beta-24 all the problems are gone. Remove your node_modules and install again with the dependencies required by beta-24 and all should be fine. I've updated the videogular2-starter and the showroom in case you want to check it out.

[2017-01-07 10:55] #348 closed

[2017-01-07 20:01] warent opened #355 "Cannot find type definition file for 'core-js'"
### Description
Running Videogular 2 in Ionic 2

### Expected Behavior
I'm expecting it to run without these errors

### Actual Behavior
When following the getting started guide and attempting to run the app, I get the following errors:
[code]
### Steps to Reproduce
  1. Initialize Ionic v2 project
  2. Follow getting started guide to import Videogular
  3. Run app

[2017-01-07 21:21] Elecash commented on #355
@warent this thread maybe can give you some clues on how to solve this: https://github.com/videogular/videogular2/issues/317

[2017-01-07 23:16] warent commented on #355
@Elecash Hmm... Thanks, but that didn't help. Actually, I just went into the `vg-api.d` and `i-playable.d` typings and deleted : `/// <reference types="core-js" />` which fixed it. Seems like a hack, but I'm not sure what else to do

[2017-01-08 08:51] Elecash commented on #355
Are you using the Angular CLI? I fixed this by updating to Angular CLI beta-24.

[2017-01-08 15:24] anil1712 commented on #270
I am getting issue while AOT
[code]

[2017-01-08 15:25] anil1712 commented on #350
@Elecash  I am getting the same issue.

[2017-01-10 14:44] randstein commented on #355
Same behavior here. I'm not using Angular CLI.

[2017-01-10 16:16] RatkoR opened #357 "vgAdTagUrl gets called multiple times"
### Description
We're using IMA ads, ads play and there's no problem with that. However, we have noticed that if you hover a mouse over player, vgAdTagUrl property gets called multiple times (400+ times in a second).

This is how we use it:

[code]

Function `prepareVmapUrl()` gets called 400+ times per second while you hover a mouse over player.

[2017-01-10 16:23] RatkoR opened #358 "Subscription to startAds / endAds"
### Description
It says in the [using the api docs](https://github.com/videogular/videogular2/blob/ce29e2b96652abf0aee5ce18ac1d52ed3832d393/docs/using-the-api.md) that `this.api.getDefaultMedia().subscriptions` features startAds and endAds event.

Seems that it doesn't, at least it's not in the [IMediaSubscriptions](https://github.com/videogular/videogular2/blob/ce29e2b96652abf0aee5ce18ac1d52ed383

[2017-01-11 08:08] RatkoR opened #359 "Downloads ts files while ad is playing."
### Description
Our setup is videogular with IMA ads. Videogular starts playing ad and at the same time starts loading real video's .ts files. Depending on the ad length, there are always couple of them loaded. When real video starts, the same ts files are downloaded again.

The example in videogular2 showroom acts the same, attached is a picture where you can see two .ts files loaded while video

[2017-01-11 08:15] RatkoR opened #360 "Even if video is paused, all .ts still get downloaded"
### Description
This issue might be for hls.js.

Video plays hls stream and then you pause it. Player still downloads all .ts files from the m3u8 playlist, even if you pause on the very first second. For mobile users, this is really lots of unnecessary data transfered.

Attached is a screenshot from videogular2 showroom where you can see downloaded .ts files and video being paused at the very begi

[2017-01-13 03:44] bashome opened #363 "Cannot seem to add VTTCue objects to Metadata track ..."
### Description
I am trying to add additional cue points to my metadata track in my component.ts in response, and I am not sure if I just can't figure it out or it can't be done.

### Details
I am able to load up a metadata track of cue points from a .VTT file when I load my video no problem. But in response to a given event, I would like add additional cue point with meta data to the track.

I ca

[2017-01-14 09:43] johnbendi commented on #317
Please videogular2 team pay heed to this issue. `core-js` and `--lib es6 or --lib es2015` does not play well so please choose the most current one and help people who want to use your library avoid this issue. For now it seems I am going to avoid videogular2 until a workaround is available.

[2017-01-15 16:07] sharmavikram opened #365 "AOT compilation error in angular 2"
### Hello Everyone,
i am new in angular 2 and i have issue related to AOT compilation. when i compiled video player from JIT it is working fine but when i compile with AOT, it returns error "**VgCoreModule' is not exported by node_modules\videogular2\core.js**"

### Package.json file
[code]

### Expected Behavior
*Working in AOT but It is not working with AOT compilation. When i compile, AOT start

[2017-01-15 20:01] MatejKustec opened #366 "Custom css styles?"
Hello,

 I would like to know, if it's possible to remove/turn off your default styles from player? Because I want to write css from scratch, using !important to override your styles is not a good practice for me.

[2017-01-16 06:33] anil1712 commented on #270
@Elecash Did you get any solution for AOT compilation ?

[2017-01-16 16:53] Elecash commented on #360
Hi,

You can set `preload="none"` to avoid loading on start, but if you pause the video the data will still download since this is how hls.js works.

You will experiment a similar behavior with dash.js so I don't think we can help here.

You can open an issue on hls.js project tho: https://github.com/dailymotion/hls.js

[2017-01-16 16:53] #360 closed

[2017-01-16 16:54] Elecash commented on #365
I've solved this issue by using the Angular CLI. I recommend you to switch to the CLI.

Also, maybe your problem is because your Angular version, try upgrading to 2.3.1 and maybe it works.

[2017-01-16 16:57] Elecash commented on #359
That's because a play has been triggered and hls.js is buffering data to start playing it after the ad is finished.

Again, this is how hls.js works and I think that this is not an issue on videogular2.

[2017-01-16 16:57] #359 closed

[2017-01-16 16:59] Elecash commented on #357
You should bind `vgAdTagUrl` to a variable, not to a function, otherwise that function will be called by zone.js multiple times since we have a `mousemove` event listener on `vgPlayer` component.

If you call `prepareVmapUrl()` on your `onInit()` method you should avoid all the calls.

[2017-01-16 17:01] Elecash commented on #358
It's the proper way to catch those events, it's just we need to add them to the interface.

Thanks for noticing this 👍

[2017-01-16 17:03] Elecash commented on #366
Since v3.2.1 I think that all components have ViewEncapsulation.None, so you can just override all styles from any component without using `!important`.

[2017-01-16 17:12] Elecash commented on #317
Hi @johnbendi

To avoid this error I recommend you to use the Angular CLI. I'm using the Angular CLI beta.24 and I don't have any problem.

Obviously, if you have any clue on how to solve this, I'm open to PRs and suggestions.

[2017-01-17 09:11] RatkoR commented on #358
Maybe something like in the [PR](https://github.com/videogular/videogular2/pull/367) referenced above?

[2017-01-17 09:15] Elecash commented on #358
@RatkoR yes, exactly like that 😄

[2017-01-17 09:49] Elecash commented on #358
Fixed via https://github.com/videogular/videogular2/pull/367

[2017-01-17 09:49] #358 closed

[2017-01-17 14:31] randstein opened #369 "Error with cue-points in Edge and IE11 in Windows 10"
### Description
Edge and Internet Explorer 11 throw an error while handling *ngFor  with the TextTrackCueList

### Expected Behavior
Microsoft browsers should work like the other browsers without errors ;-)

### Actual Behavior
Videos do run with the native controls, java-script stalls, no triggering of cue-points etc.

### Steps to Reproduce
Open the showroom example:
https://videogular.github.io

[2017-01-17 18:41] psotelo opened #370 "Autoplay video doesn't work on mobile devices"
HI!

I'm using your videogular2 but it's failing on mobile devices. I can play the video if I click over "play" icon but I need to autoplay it. What can I do?

[2017-01-20 02:32] abishek opened #372 "Video not playing in 3.2.2 with ng2 2.4.2 and cli"
I am using videogular 3.2.2 with angular2  2.4.2 and angular-cli. When I try play a video, I only get a buffering indicator but the video never plays. If I used a simple html5 video tag, the same video plays fine. I don't see any console errors.

In another setup where we have a really old videogular2, my video plays just fine. Also, if I used the video given in the demo code, that plays. So are t

[2017-01-20 08:39] Elecash commented on #372
Can you post your video source to test it?

[2017-01-20 08:40] Elecash commented on #370
Autoplay is generally disabled on all mobile devices to prevent bandwidth consumption. User must execute the play manually.

[2017-01-20 08:42] psotelo commented on #370
Ok! but it's a requirement in my case, what can I do to disable this restriction?

un saludo y gracias
-
Pablo Sotelo

Frontend Developer & UX Consultant
www.pablosotelo.com
+34 606789409
skype: pablo.sotelog

El 20 xan, 2017, a las 09:40, Raúl Jiménez <notifications@github.com> escribió:

Autoplay is generally disabled on all mobile devices to prevent bandwidth consumption. User must execute the

[2017-01-20 08:49] Elecash commented on #370
Hola :)

You can set `autoplay` and `muted` attributes, but it will work only on latests versions of Chrome for Android and iOS 10.

You can read more about it here:

- https://developers.google.com/web/updates/2016/07/autoplay
- https://webkit.org/blog/6784/new-video-policies-for-ios/

[2017-01-20 09:30] abishek commented on #372
@Elecash I am not sure I can. I'll try to locate another source that has the same behaviour from my set. But the above HTML is valid right?

[2017-01-20 09:59] Elecash commented on #372
Yes, everything looks fine.

[2017-01-20 10:20] abishek commented on #372
Also, for a video that doesn't work
1) the loadedmetadata event is not firing. so something wrong with the video?
2) I don't see any error event either.
3) but when I try to pause or play, I see this message in the console:
`Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause().`

[2017-01-20 11:18] abishek commented on #372
One more debug result:

I downloaded your demo video (sorry! but I won't host it anywhere and will delete it once I get this going.) and hosted it behind a simple node http-server. I edited my sources in the ts file to point to this video:
[code]

This doesn't play either. So perhaps, it may have something to do with the server settings? Or videogular's interpretation of the response data? I'll be

[2017-01-20 11:25] Elecash commented on #372
If it's a server issue then I'm pretty sure that it's a problem with the Content-Length or Content-Type headers. You can search on google how to fix it or use a video streaming library.

Here is a post that may be helpful: https://coderwall.com/p/ciap_a/html5-video-content-type-is-important

[2017-01-20 11:39] abishek commented on #372
@Elecash Thanks! I do remember seeing octet-stream as the content type in some cases. Let me debug in this direction.

[2017-01-20 12:08] Elecash commented on #372
Ok, closing, it seems a server issue.

[2017-01-20 12:08] #372 closed

[2017-01-20 12:17] abishek commented on #372
Thank you @Elecash

I got it working (at last!). I had to remove the `crossorigin` attribute from the `video` tag - like this:

[code]
I assumed that the crossorigin attribute would be needed because the video is not hosted on the same server/domain as the angular app. Should the server send specific CORS headers when I set this?

Thanks again!

[2017-01-23 09:45] #370 closed

[2017-01-23 09:45] #357 closed

[2017-01-24 00:21] matejkramny commented on #337
scrub bar is visible when controls have been hidden, is there a workaround for this?

The scrub bar is a separate element from the controls, there isn't an autohide property for the scrub bar :/.

[2017-01-24 00:35] matejkramny commented on #337
Workaround:

[code]

for this to work you also need to put `vg-scrub-bar` behind `vg-controls` (it will still work the same) for the css adjacent selector to work.

[2017-01-24 11:57] #350 closed

[2017-01-24 11:58] Elecash commented on #350
New v4.0.0 fixes this issue and introduces a breaking change, please read notes here: https://github.com/videogular/videogular2/pull/374

[2017-01-24 21:53] Bougiefever opened #376 "Cannot run sample - ZoneAwareErrror?"
I get the following error in my console when I try to run the simplest example from the sample page - copying the code exactly:

ZoneAwareError
__zone_symbol__error
:
Error: (SystemJS) Unexpected token < SyntaxError: Unexpected token < at eval (<anonymous>) at Object.eval (http://localhost:6206/app/../source/video/app.module.js:1:719) at eval (http://localhost:6206/app/../source/video/app.module.j

[2017-01-25 10:50] Elecash commented on #337
@matejkramny wow! this css fix is pretty clever!

Do you want to make a PR? I'm glad to merge it 😄

[2017-01-25 16:53] aleixmorgadas opened #377 "Angular 2.4.X compatibility"
### Description
Using the code snipped found at getting started guide, the video controls does not work as expected and the time field is not updated automatically (never changes) but it loads the video duration.

### Actual Behavior
![image](https://cloud.githubusercontent.com/assets/5518197/22300128/ce36d6dc-e326-11e6-8a0f-63f9cf3bf3f7.png)
The video is able to start and stop, and move forward.

[2017-01-25 17:16] matejkramny commented on #337
@Elecash it's a bit of a hack and requires the scrub bar to come after the controls in html.

I think there might be a better solution..

If vg-controls could notify (EventEmitter) the other components (like vg-scrub-bar) of an event (like `autohide-trigger`) then vg-scrub-bar can add the `hide` class as well

[2017-01-25 20:10] Bougiefever commented on #376
This was caused by an issue with the systemjs.config.js file. The entries below fixed my problems:

 map: {
            // our app is within the app folder
            app: 'app',

            // angular bundles
            '@angular/core': 'npm:@angular/core/bundles/core.umd.js',
            '@angular/common': 'npm:@angular/common/bundles/common.umd.js',
            '@angular/compiler': 'npm:@ang

[2017-01-26 10:33] Elecash commented on #376
Thanks for sharing!

[2017-01-26 10:33] #376 closed

[2017-01-26 11:30] Elecash commented on #377
Hi @aleixmorgadas

Maybe you need to add the videogular font. You can take a look how to do it on the angular-cli.json file here:

https://github.com/videogular/videogular2-starter/blob/master/angular-cli.json#L21

[2017-01-26 11:46] aleixmorgadas commented on #377
Hello @Elecash , thanks for your fast response.
Yes, it was the issue.

Awesome project!

[2017-01-26 11:46] #377 closed

[2017-01-26 11:54] Elecash commented on #377
Thank you! Glad to help! 😄

[2017-01-27 12:31] randstein commented on #355
In the end I solved this for me with:
npm install --save @types/core-js

In package.json:

[code]

and in tsconfig.json

[code]

Cheers

[2017-02-01 15:19] mlegenhausen commented on #355
Installing `core-js` breaks when using a `lib` definition bigger than `es2015` cause of duplicate symbols:

[code]

[2017-02-01 18:50] uiktiomasfeliz opened #392 "Cannot read property 'bufferDetected' of undefined"
After update to version 4.0 of videogular2 this erros showed up:

![captura de pantalla 2017-02-01 a las 19 49 32](https://cloud.githubusercontent.com/assets/5663564/22521249/b5dafc26-e8b7-11e6-9cbd-3e05138c67b3.png)

[2017-02-02 22:56] uiktiomasfeliz commented on #392
My bad...  changed vg-media to vgMedia and works fine!!!

[2017-02-02 22:56] #392 closed

[2017-02-09 18:24] lomboboo opened #398 "Can't resolve '@angular/core'"
### Description
``Module not found: Error: Can't resolve '@angular/core' in '/var/www/html/flixandchill/node_modules/videogular2/src/core'``
Angular 2.4: getting this error after install videogular2 and importing components in ``module.ts`` file.

My application is running by **Angular 2 + Webpack**

I could't find similar problem in *Issues*.

[2017-02-11 04:11] abishek opened #400 "cue points"
What is the correct way to add cue points to a video? I don't want to use a VTT file since the cue points are specific to the video being played.

videogular1 had a vg-cue-points attribute. is there an equivalent?

Thank You!

[2017-02-11 09:37] jibon57 opened #401 "Any plan to ionic 2 support?"
Hello,

I tried to install this useful player with ionic 2 but failed to use it. Any plan to support ionic 2?

Thanks

[2017-02-12 09:08] Elecash commented on #401
As far as I know it works as expected on Ionic 2. I never used Ionic, but I've talked with some people that is using Ionic 2 and Videogular2 with no problems.

Can you put your error or give us more details about your issue?

[2017-02-12 09:12] Elecash commented on #400
You can't add/edit/remove cue points on the fly yet, you only can load cue points from a VTT file. That's on our roadmap, but I don't know when we will implement it.

In case you want to contribute to the project, you can do that with the TextTrack API. More info here: https://developer.mozilla.org/en-US/docs/Web/API/TextTrack

[2017-02-12 10:22] jibon57 commented on #401
Thanks for your reply Elecash.

I was following: https://github.com/videogular/videogular2/blob/master/docs/getting-started.md

[code]

My Environment:

[code]

Not sure if I am walking on correct road. Hope you will help me.

Thanks
Jibon

[2017-02-12 14:23] Elecash commented on #401
I think that you should use the Ionic CLI, but again, I've never used Ionic so I'm not sure if I can help you.

http://ionicframework.com/docs/cli/

I'll give it a try when I have some time.

[2017-02-12 17:20] jibon57 commented on #401
Thanks again Elecash.

Yes, I am using cli & got those error message during running command. It will be better if you could give some try :)

Thanks
Jibon

[2017-02-12 20:00] #398 closed

[2017-02-13 22:54] johnpankowicz commented on #355
I've been getting these errors ever since I included videogular in my project. But the video component has been working with no problems in my development environment.  I'm using mgechev/angular-seed as a basis for my project. Now when I run it's production build, it fails ever since I added videogular. The error message is: "npm ERR! code ELIFECYCLE".
I'm not sure if the issue being discussed on

[2017-02-14 19:48] johnpankowicz commented on #355
I was able to hack the mgechev/angular-seed build script and have it ignore the "Cannot find type definition..." errors. It completed the build and the production code ran OK with no errors. I'll just continue to try and ignore the errors.

[2017-02-16 17:53] asmaratantra commented on #401
install @types/core-js
npm install @types/core-js

modify tsconfig.json like this
{
  "compilerOptions": {
    "allowSyntheticDefaultImports": true,
    "declaration": false,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
   "target": "es5",
    **"typeRoots": [
      "../node_modules/@types"
    ],
    "lib": [
      "dom",
      "es5"
    ],**
    "module": "es2015",

[2017-02-16 19:18] jibon57 commented on #401
Thank you very much @asmaratantra. It's working just fine for me now :) 👍

[2017-02-17 04:49] ericel opened #407 "Can't adjust volume on mouse down"
Can't adjust volume on mouse down

[2017-02-17 13:01] #407 closed

[2017-02-18 09:12] ericel opened #409 "How to prevent illegal file downloads by hiding audio file source"
Not an Issue , maybe enhancement!
I want to be able to hide the file source. At the moment , view source shows video or audio file source.
Anyway I can do this?
And I understand there is no 100% hide proof for file source.

[2017-02-18 15:50] Elecash commented on #401
Thanks, this probably works for this too: https://github.com/videogular/videogular2/issues/355

Closing.

[2017-02-18 15:50] #401 closed

[2017-02-18 15:50] Elecash commented on #355
Check solution at https://github.com/videogular/videogular2/issues/401

[2017-02-18 15:50] #355 closed

[2017-02-18 15:52] Elecash commented on #409
If you use HLS or DASH you will prevent users to right-click and download your video file but still there will be "other ways" to do that.

The only you can do to prevent your media files to be downloaded and played on other places is to use DRM.

[2017-02-18 15:52] #409 closed

[2017-02-18 22:00] jordanlance opened #410 "Ionic 2 with videogular 2 example ?"
Could anyone provide a ionic 2 with videogular 2 example?
I have been struggling to get it to work with ionic 2, only v1 examples are online to be found.

I installed the npm packages and using ( beside including the css/js sources )

[code]

[2017-02-19 00:39] johnpankowicz commented on #355
@Elecash  I tried the solution at  #401 (npm install @types/core-js --save). My tsconfig.json already had typeRoots set as suggested. My lib setting is "lib": ["es2015"]. I don't know if this matters.
I don't get the original errors but I now get these instead:
F:/govmeeting/_sourcecode/src/client/browserapp/node_modules/@types/core-js/index.d.ts(21,14): error TS2300: Duplicate identifier 'Propert

[2017-02-20 08:29] mlegenhausen commented on #355
I think as long as this project depends on `core-js` the best solution is to patch the type definitions after installation. We use the following `postinstall` script to strip out the `core-js` definition.

[code]

This script simply removes the first line from the `.d.ts` files.

[2017-02-20 21:39] RatkoR opened #413 "Volume control error - not a finite floating-point value"
https://videogular.github.io/videogular2-showroom/#/streaming-player

Clicking on vg-volume control throws exception (the volume level control, not the mute / unmute):

[code]

[2017-02-20 21:47] RatkoR opened #414 "Google IMA ads and video controls"
Play sample at https://videogular.github.io/videogular2-showroom/#/google-ima-player

Preroll ad starts playing, video controls are visible. There's a mute button and user probably thinks that he can mute sound (the ad is still playing). So he clicks on the mute button (or on any other control for any other reason). Instead of muting the sound, he gets redirected to the ad url, which is not what h

[2017-02-25 00:55] sikemullivan opened #424 "360?"
The demo shows 360, but I'm not seeing anything when I pull it down. What am I missing?

[2017-02-25 11:17] #286 closed

[2017-02-25 12:00] Elecash commented on #424
Which browser are you using?

I can see it working on Firefox and Chrome: https://videogular.github.io/videogular2-showroom/#/vr-player

[2017-02-25 12:03] Elecash commented on #414
@RatkoR what behavior do you suggest?

I think that the best here would be to hide the controls and allow the developer to put some custom controls just for the ad.

Another option could be to disable certain controls (like seek) but allow user to pause/play, change volume and set fullscreen.

[2017-02-25 12:04] Elecash commented on #410
Check this thread: https://github.com/videogular/videogular2/issues/401

[2017-02-25 12:04] #410 closed

[2017-02-25 12:05] #366 closed

[2017-02-25 13:54] jordanlance commented on #401
Could you guys provide a working example?
I have hard time converting the 1.0 examples to 2.0

[2017-02-25 19:27] Elecash commented on #287
Fixed via https://github.com/videogular/videogular2/pull/379

[2017-02-25 19:27] #287 closed

[2017-02-25 19:27] #365 closed

[2017-02-25 19:27] Elecash commented on #413
This should be fixed via https://github.com/videogular/videogular2/pull/423

[2017-02-25 19:27] #413 closed

[2017-02-25 19:29] Elecash commented on #363
I'm going to add an API to add/edit/delete cue points on the fly via observables.

If you want to collaborate on this I'm happy to publish here what I'm planning to do.

[2017-02-25 23:19] sikemullivan commented on #424
Oh I'm sorry, I was a bit vague. The live demo of the 360 video player is great, and I love the work that has been done here. I have a 360 camera, and I was hoping to pull down this project and build my own application using to play my videos from. I'm really not a big fan of giving youtube the rights to all my videos.

So anyways, I pulled down the package into my project (npm install videogular2

[2017-02-26 06:08] sikemullivan commented on #424
This is the demo that I was looking at, http://www.videogular.com/alpha/#/video-360

[2017-02-26 09:29] Elecash commented on #424
@sikemullivan we're using [A-Frame](https://aframe.io/) to do the 360 video, which is not very performant right now but very easy to use with Angular. Depending on your needs you may want to use just A-Frame because we're not providing a 360 plugin right now, we're just using a third-party library.

If you want better performance probably is better to use Three.js directly because it's way faster

[2017-02-26 20:09] sikemullivan commented on #424
Oh, got ya. I'll take a look at those and see what I can come up with. I'm still a bit new to Angular2 and Typescript, so I'm still not sure how to integrate directly with javascript libraries. Maybe this will be the challenge that gets me going. Although, I was hoping for a magic answer, I really appreciate you advise. I'm new to 360 video, so I guess I've got some learning to do.

Thanks!!!

[2017-02-26 20:09] #424 closed

[2017-02-27 08:26] Elecash commented on #347
This should be fixed on iOS 10 via https://github.com/videogular/videogular2/pull/427 https://github.com/videogular/videogular2/pull/426 https://github.com/videogular/videogular2/pull/423

[2017-02-27 08:26] #347 closed

[2017-03-01 15:26] mogusbi opened #430 "Inline styles"
### Description
When you embed a videogular2 player onto a page it is pulling in a load of CSS styles and inlining them onto my page which means if I want to override any of the styles I have to use a load of `!important` flags which is not ideal

### Expected Behavior
To be able to disable the inline styles

### Actual Behavior
Inline styles are automatically injected onto the page so overriding

[2017-03-02 10:58] Elecash commented on #430
Since v3.2.1 I think that all components have `ViewEncapsulation.None`, so you can just override all styles from any component without using `!important`.

[2017-03-02 11:16] mogusbi commented on #430
That's the problem, I can't. The styles are injected onto the page itself so that they're inlined so I still can't overwrite them in the (s)css without using `!important`

[2017-03-02 11:33] Elecash commented on #430
@mogusbi that's how Angular works.

If you want to overwrite the styles you need to set the styles on your `app.component.scss` or `app.component.css` (depending if you use sass or not).

This works for me with sass for this project: https://github.com/videogular/videogular2-starter

[code]

[2017-03-03 18:47] admosity commented on #430
In your page component, you can also do:

[code]

[2017-03-04 14:39] ericel opened #431 "The play() request was interrupted by a call to pause()"
### Description
I am trying to create an audio playlist:
Here is what I got so far in accordance with the streaming-player:
[code]
And here my template view :
[code]

Unfortunately this doesn't work as the player doesn't even play.
I would rather just want each song to play as one is finished instead of clicking!.
I get this error when I click another song, even though the previous wasn't playing!

[2017-03-04 19:14] #430 closed

[2017-03-05 08:27] brandom commented on #337
Took a crack at this. Since the components would be siblings in this case I used a shared service to notify the vg-scrub-bar component.

[2017-03-05 14:42] RatkoR commented on #414
I'd go with the second option. Having two visibly different controls on the same player is confusing IMHO.

It might be enough to move that clickable area away from controls during pre/postroll. So that click on central (video) part opens a banner page (just like it's working now), but clicking on the controls doesn't -  letting the controls receive click events.

[2017-03-07 17:07] codegastudio opened #435 "Basic Authentification"
### Description
Any way to play video under http basic authentification like camera ip stream ?
I got 401 error (Unauthorized) when src look like

Best regards

[2017-03-09 21:48] matejkramny opened #437 "How to build"
I'm trying to use my fork on a project, but i'm not able to get it running..

How do you/travis build this project so that it's compatible?

I get weird errors like this when I copy the directory over (after running `npm run build`):

<img width="1145" alt="screen shot 2017-03-09 at 13 47 56" src="https://cloud.githubusercontent.com/assets/797608/23772231/0ff6dee0-04cf-11e7-9436-6dacb8a95058.png">

[2017-03-10 11:29] insta-code1 opened #439 "Does videogular support AES-128 decryption?"
Hi there,

Sorry this isn't an issue but a question.

Does Videogular support AES-128 decryption?

I want to encrypt my content when I'm trans-coding my mp4 videos to Hls and Mpeg-Dash and then decrypt the video in the player, is this currently possible?

Many thanks.

[2017-03-12 20:03] #337 closed

[2017-03-14 13:56] davutcavdar opened #442 "Changing video source manually (such as clicking button)"
Hello again,
I m working on a project which based on displaying local videos. In other words, it will read local folder and list, after that display selected video.

Firstly, i should manually change video source and start it without any page refresh.

Could you give some guidance about that

[2017-03-16 04:38] abishek commented on #363
@Elecash I need this. so I can help build this. pointers on where I can start?

[2017-03-19 09:33] slegouffe commented on #291
Hey there !
For Ionic 2 icon support, I suggest you to read this very helpfull tutorial about adding FontAwesome in Ionic 2 as it's the same way to add Videogular icons :
https://luiscabrera.site/tech/2017/01/09/fontawesome-in-ionic2.html

[2017-03-19 23:17] viniciusguerra commented on #442
I'm having the same issue here. Changing source does nothing and I can't seem to find a way to force reloading. Only refreshing the page works.

Currently I'm trying to read the source from an Observer using the async pipe. I can't see that the source is updated when I push a new value, but the player stays the same.

I wish we had some clarification on that.

[2017-03-20 01:03] viniciusguerra commented on #442
Nevermind. Here's how I fixed it.

Here's the method for setting the video:
[code]

And here's the HTML for the Video Player Component:
[code]
It seems like the *ngFor is the only thing that triggers video reloads. I'm using it even though I only have 1 video at all times and it works.

[2017-03-20 09:06] Elecash commented on #442
@viniciusguerra yes, you can only reload videos by setting an `*ngFor` to the `source` tag or by adding a `[src]` to the `video` tag.

This is intended and it's how the native HTML5 implementation works so if you only have one possible source, you will probably want to do this:

[code]

[2017-03-20 09:24] jmesa-sistel opened #449 "At VgMedia.ngOnInit -> Failed to execute 'observe' on 'MutationObserver': parameter 1 is not of type 'Node'."
Using last angular version (4.0.0-RC5) I get the next error when try to use a 'vg-player' component.
ERROR Error: Uncaught (in promise): TypeError: Failed to execute 'observe' on 'MutationObserver': parameter 1 is not of type 'Node'.
The stack trace points to this line:
[vg-media.ts#L134](https://github.com/videogular/videogular2/blob/master/src/core/vg-media/vg-media.ts#L134)

[2017-03-20 09:29] Elecash commented on #449
Can you try with v5.0.0? You can check the breaking changes here:

https://github.com/videogular/videogular2/releases/tag/v5.0.0

[2017-03-20 09:48] jmesa-sistel commented on #449
Not sure if I tested properly, but I have the same error.
I have build the source with: npm start build
Then I have overwritten all the files in my project .\node_modules\videogular2\

[2017-03-20 09:57] Elecash commented on #449
Ok, I'll give a look to it when I have some time.

[2017-03-20 11:05] jmesa-sistel commented on #449
Hi

I've fixed it with this little change:

`
constructor(private api: VgAPI, private el: ElementRef) {
        this.elem = this.el.nativeElement;
    }`

and I've commented the 'this.elem = this.vgMedia....' code in ngOnInit

[2017-03-20 11:11] Elecash commented on #449
Oh! I think that you need to update your HTML code, please, read the breaking changes but now you need to pass a reference inside `vgMedia`.

So if you did this in the past:

[code]

[code]

[2017-03-20 11:23] jmesa-sistel commented on #449
I see, now it works fine.
Why not to do something like a defult to master if vgMedia is not set?
< video vgMedia> will be equivalent to <video #myMedia [vgMedia]="myMedia" [vgMaster]="true">
Anyway everything works now, thanks for your help.

[2017-03-20 11:23] #449 closed

[2017-03-20 11:29] Elecash commented on #449
Actually `vgMaster` is optional if you only have one `vgMedia` so you can do just this at it will work too:

[code]

[2017-03-24 18:25] btroncone commented on #317
Angular CLI v1 final has same issue, please advise.

[2017-03-25 02:34] genelim commented on #317
@btroncone Is this breaking caused by Angular CLI v1 missing to install @type/core-js ?

[2017-03-26 08:26] DaSchTour opened #456 "Remove hard versioned dependencies"
### Description
The hard versioned dependencies to rxjs and zone.js lead to a lot of overhead when installing through JSPM. I get forks installed and need to have duplicated versions inside my bundle which increases the size a lot.

### Expected Behavior
Use semver ranges for versions to be more flexible

### Actual Behavior
Only one specific version of rxjs and zone.js is used

[2017-03-26 19:44] Elecash commented on #317
@btroncone I don't  have any problems with the Angular CLI, did you tried with the videogular starter or trying the showroom?

[2017-03-26 20:54] born2net commented on #355
I just did a fresh install with ng4 release and getting same error
[code]

Angular 2 Kitchen sink: http://ng2.javascriptninja.io
and source@ https://github.com/born2net/Angular-kitchen-sink
Regards,

Sean

[2017-03-26 20:55] born2net commented on #355
I think I know why, ```sed``` is part of Linux and I am on Windows.
can we just remove the lines all together?
As I can't run:
[code]

[2017-03-26 21:21] born2net commented on #339
also having an issue not seeing the full screen icon

[2017-03-26 21:27] born2net commented on #339
ended up doing this in my main css file:

[code]

[2017-03-26 21:29] born2net opened #460 "Please remove core-js dep."
### Description
On fresh install getting the same core-js .d.ts issue as others

### Expected Behavior
no error

### Actual Behavior
need to find a way to remove core-js from videoangular definitions
I am on Windows, sed does not exist
[code]

### Steps to Reproduce
Install in any Windows machine / project

[code]

Angular 2 Kitchen sink: http://ng2.javascriptninja.io
and source@ https://github.co

[2017-03-26 21:30] born2net commented on #460
the issue also prevents from doing AOT:

[code]

[2017-03-26 23:02] born2net opened #461 "auto hide controls"
Is it possible to auto hide controls?
Thanks for a great lib

Sean

[2017-03-27 01:31] genelim commented on #317
@btroncone @Elecash Actually I tested with a new project Angular 4, CLI v1, has that problem.

Angular 2, CLI v1RC doesn't have that problem.

[2017-03-27 06:25] mlegenhausen commented on #355
You can remove it manually by opening the files and remove the liens, but I would recommend to automate the process.

[2017-03-27 08:37] #442 closed

[2017-03-27 09:06] Elecash commented on #461
@born2net yes, just add `[vgAutohide]="true"` to `VgControls` component.

For example:

[code]

Value `vgAutohideTime` expects seconds.

[2017-03-27 09:51] jmesa-sistel commented on #460
Same problem with AOT

[2017-03-27 16:05] born2net commented on #461
ha nice! tx for the prompt reply!

[2017-03-27 18:00] born2net commented on #355
yes I did that, but my project is installed by many users via npm so can't expect them to do so
regards

[2017-03-29 08:12] davutcavdar opened #463 "Question: Full screen problem?"
If I dont set properties like below or use 100% or putting seperate width or height properties to html tag, they dont work so  video size can not be set and it covers whole page:

[code]

if i set some values to width and height then full screen size also is set according to these values when i click full screen button.

How to set propersites in order to increase or decrease player size but when

[2017-03-29 08:27] Elecash commented on #463
Are you using native fullscreen?

[2017-03-29 09:04] davutcavdar commented on #463
I solved problem just adding

vg-player:fullscreen {
            width:100%;
            height:100%;
        }

Thank you, please close this issue.

[2017-03-29 09:04] #463 closed

[2017-03-30 13:27] codegastudio commented on #435
Any help is welcome
23 days :/

[2017-03-31 09:01] Elecash commented on #435
Try adding `crossorigin="anonymous"` to the `<video>` tag. Not sure if it will work but this is not related with videogular but how video works on HTML5.

[2017-03-31 16:32] alouane opened #466 "Google IMA mobile issue"
### Description
ad is not playing in mobile devices, it juste stuck in 10s until the waiting time ends
Is it related to ima repo, or hase something to do with videogular, I remember that this was working with videogular 1

Screen shot:
![6597665999830229599-account_id 1](https://cloud.githubusercontent.com/assets/3225153/24559784/e2ae60c8-1637-11e7-90f4-43073453cb95.png)

Thanks

[2017-04-02 18:50] born2net commented on #460
any chance we can get this resolved?
As I can't deliver my project via NPM due to this issue.
please remove core-js dep.

[2017-04-03 01:29] thinhlengo opened #469 "Update track when not update <vg-player>"
### Description
When change content element source and track in video, no reload vg-player result element vg-track-selector not update

### Expected Behavior
I want element vg-track-selector update or reload when every time i change content element  source and track.

[2017-04-03 08:58] ravipatel2293 opened #470 "Play youtube video in videogular2"
Hi Team,
When i'm giving local source URL to the sources it's working fine but when use youtube URL it is not working.

I want to play youtube video into current library.So how can i do that?
What configuration do i have to make for play youtube video?

[2017-04-03 14:56] Elecash commented on #470
Youtube is not currently supported.

You can create your own plugin if you follow the same guidelines as we have in this demo:
https://videogular.github.io/videogular2-showroom/#/custom-media

Code: https://github.com/videogular/videogular2-showroom/tree/master/src/app/custom-media

The solution here is to create something like this [TimeViewer](https://github.com/videogular/videogular2-showroom/b

[2017-04-03 14:57] izupet commented on #431
I have a similar problem, getting `Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause().` as well

[2017-04-04 04:12] ravipatel2293 commented on #470
Is your team is going to provide support for Youtube video in future?

[2017-04-04 11:32] izupet commented on #431
I sought and found that this seems to be a [Chrome/Chromium](https://bugs.chromium.org/p/chromium/issues/detail?id=593273) issue. However, this error is shown in the browser console and does not affect any playback. In other browsers should work as expected.

[2017-04-05 12:11] RatkoR opened #472 "ReferenceError: google is not defined"
### Description
If `//imasdk.googleapis.com/js/sdkloader/ima3.js` is loaded later then videogular, `ReferenceError: google is not defined` is thrown.

Stack trace shows it's from [vg-ima.ads.js](https://github.com/videogular/videogular2/blob/ce29e2b96652abf0aee5ce18ac1d52ed3832d393/src/ima-ads/vg-ima-ads.ts#L79)

[code]

### Expected Behavior
Can an if() be added to guard for google object and not

[2017-04-05 12:31] RatkoR opened #473 "TypeError: undefined is not a function (evaluating 'this.elem.pause()"
### Description
Couple of times per day, we get this error logged: `TypeError: undefined is not a function (evaluating 'this.elem.pause()`.

It's comming from [this.target.pause()](https://github.com/videogular/videogular2/blob/master/src/streaming/vg-hls/vg-hls.ts#L85). Seems that somehow target is defined, just that it doesn't have the pause() method.

Stack:

[code]

### Expected Behavior
Can t

[2017-04-05 21:20] benhalverson opened #475 "Angular 2 version 4 errors"
### Description
I'm getting the following error on loading of my app.

[code]
create a module and add to

### Attachments
*Try to include screenshots for bugs or design assets for enhancements*

| **Image Title** |
| --- |
| (https://media.giphy.com/media/143vPc6b08locw/giphy.gif) |
| Image description |

[2017-04-06 12:44] codegastudio commented on #435
@Elecash thx for your response
`crossorigin="anonymous"` remove authentification process so this can't allow to display content behind auth

[2017-04-08 19:16] SteevyTheGeek opened #480 "Support google ads?"
is this support google ads?

[2017-04-09 07:32] Elecash commented on #480
Yes, we have support for Google IMA, you can take a look to the demo here:
https://videogular.github.io/videogular2-showroom/#/google-ima-player

Code:
https://github.com/videogular/videogular2-showroom/tree/master/src/app/google-ima-player

[2017-04-09 07:32] #480 closed

[2017-04-09 07:38] Elecash commented on #475
Hi @benhalverson

That doesn't seem to me an Angular 4 error. We updated our demo and showroom to Angular 4 and everything is working as expected.

Probably you mistyped the `app-video-player` selector.

[2017-04-09 07:46] Elecash commented on #473
Sure, this is an easy fix, maybe you can try it on your project and then if it works make a PR.

Just update [this block](https://github.com/videogular/videogular2/blob/master/src/streaming/vg-hls/vg-hls.ts#L84-L88) to look like this:

[code]

[2017-04-09 07:49] Elecash commented on #470
@ravipatel2293 yes, but we don't have a release date yet, that's why we encourage users to contribute to the project.

[2017-04-09 07:51] Elecash commented on #469
Can you provide an steps to reproduce, please?

[2017-04-09 07:52] Elecash commented on #466
Not sure if it's a Videogular error or Google IMA error, but it's definitely stuck.

I'll try to do some research.

[2017-04-09 07:55] Elecash commented on #439
Do you want to implement your own DRM solution? Is that your intention?

I think that the question would be if it's possible to do with HTML5 more than with Videogular2. I think that yes, it's possible, but you should create your own implementation because obviously this is not part of the library.

[2017-04-09 07:56] Elecash commented on #460
I've fixed this with `npm install @types/core-js --save-dev`, maybe it works for you.

[2017-04-09 07:57] Elecash commented on #437
I understand that this can be closed, please reopen if you need further assistance.

[2017-04-09 07:57] #437 closed

[2017-04-09 07:59] Elecash commented on #435
@codegastudio have you researched how to do that with plain HTML5 / JS??

Because I think that this is something related with the video tag, more than with videogular2 itself.

[2017-04-09 08:01] #473 closed

[2017-04-09 08:02] Elecash commented on #473
Actually you already did the PR, it's merged so closing 😄

[2017-04-09 12:40] alouane commented on #466
Hi @Elecash
There is a workaround that you can try:
=> Add a click handler over the add video player:
[code]

[2017-04-09 14:05] Prabingiri commented on #220
Hello @Elecash , I am new to Angular ClI. I have to work for an audio player just like yours video-player. Is there any nice documentation/projects for the starting? I am going to work for an online radio. #sorry for the silly question, hope you will understand me

[2017-04-09 14:26] born2net commented on #460
thank you, will give it a shot!

[2017-04-09 14:39] born2net commented on #460
fixed it, tx!!!!!!!

[2017-04-09 14:39] #460 closed

[2017-04-09 22:07] Elecash commented on #220
@Prabingiri actually is pretty easy to use the CLI with videogular2.

This is a quick guide, nothing official tho:

1. Run `ng new project-name --style=scss`
2. Install videogular2 with `npm install videogular2 --save`
3. Add the CSS videogular2 font on `.angular-cli.json` file by adding this `"../node_modules/videogular2/fonts/videogular.css",` to the `styles` array property.
4. Add the videogula

[2017-04-09 22:12] Elecash commented on #472
Fixed via https://github.com/videogular/videogular2/pull/476

[2017-04-09 22:12] #472 closed

[2017-04-09 22:16] Elecash commented on #431
@izupet a possible workaround is to do play and pause with a TimerObservable, but I don't know if this could lead to other problems. Anyway you're right, the error is raised but everything works as expected, so I'm not sure if this is actually an issue or not.

[2017-04-10 08:10] jumesa commented on #460
For me this is not fixed. I think the package have to work without any hack in your own package.json file.

[2017-04-10 09:16] Elecash commented on #460
@jumesa this is not a hack, this is how TypeScript works.

Fortunately, library maintainers will have soon some guidelines on how to publish OS libraries and this errors will disappear.

For now, this is how you fix it, sorry.

[2017-04-11 13:14] CarlosAyala commented on #475
I have the same problem.

[code]

[2017-04-11 13:24] CarlosAyala commented on #475
Hi!

I have the same problem.

polyfills.js:3 Error: Uncaught (in promise): Error: Template parse errors:
'single-media-player' is not a known element:
1. If 'single-media-player' is an Angular component, then verify that it is part of this module.
2. If 'single-media-player' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.

[2017-04-11 16:50] greenpdx opened #483 "Pause and fullscreen icon not displayed on control"
### Description
I have installed videogular2 in angular 4.0.0.  I installed it using angular/quickstart. I created a wrapper media-player.component using single-media-player example.  It plays but I do not see the pause or fullscreen icons on control bar.

### Expected Behavior
See all the controls.

### Actual Behavior
pause and full screen icon not displayed

### Steps to Reproduce
1: install an

[2017-04-12 08:05] Elecash commented on #475
@CarlosAyala you have to add `single-media-player` to your main module.

E.g:

[code]

[2017-04-12 08:06] Elecash commented on #483
You have to add the CSS font to the Angular CLI file.

https://github.com/videogular/videogular2-starter/blob/master/.angular-cli.json#L22

[2017-04-12 10:27] greenpdx commented on #483
I do not have that file.  I assumed videogular2 had it's own default styles.   My media-player component is just a thin wrapper around the getting started html template. Now I am working on dynamically loading videos and playing it.
just the <vg-play-pause> and <vg-fullscreen> are not being displayed.

[2017-04-12 10:50] Elecash commented on #483
@greenpdx I would recommend you to use the Angular CLI, it would make everything way easier.

Just follow instructions here: https://github.com/angular/angular-cli

We have a starter for videogular2 that you can clone that it's working with Angular CLI 1.0.0 and Angular 4.0.0. https://github.com/videogular/videogular2-starter

The Angular Quickstarter it's ok for the tutorial, but you should not u

[2017-04-12 21:06] bofcarbon1 commented on #483
I added the CSS font to the Angular CLI json file in styles and in may no difference. Just seeing the basic control shown above. Perhaps I can try copying the font folder to a place in my app where I know it will be found.

[2017-04-12 23:42] bofcarbon1 commented on #470
Damn my video is on YouTube.  Ugh. That was time burned.

[2017-04-14 07:33] Elecash commented on #483
@bofcarbon1 WMV video files are not supported on HTML5, only MP4, WEBM and OGG.

[2017-04-14 20:03] bofcarbon1 commented on #483
@Elecash   OK.  I don't normally do videos in my web apps. Admit to being out of date. I watched a YouTube tutorial on converting Power Point to video and they used 'WMV'. I thought it seemed a bit dated as a format. Fortunately 'MP4' was available as a convert option and I did that. At the time I through I would need to use YouTube but soon realized that I could run the 'MP4'. So I learned a lot.

[2017-04-19 21:26] NjengaSaruni commented on #475
This error keeps appearing and disappearing. Sometimes I have to refresh the browser several times for "my-main-app" selector to be available. Really frustrating. I don't know whether this has to do with my development environment. I am using JetBrain's WebStorm.

[2017-04-21 18:49] Elecash commented on #483
@bofcarbon1 np, video on the web changed a lot in the last years.

Basically the current video formats on the web are MP4, WEBM and OGG. MP4 is widely used because it has the best cross-browser support, so probably you want to go with that for now.

Closing for now, please, reopen or create a new issue if you have any problems.

[2017-04-21 18:49] #483 closed

[2017-04-24 09:25] waylander47 opened #492 "Code source example playlist"
Hi guys,

It's not really an issue. I just like to know where I can find the source code for this example : https://videogular.github.io/videogular2-showroom/#/smart-playlist

Thanks in advance.
Best regards,
Waylander.

[2017-04-24 09:40] Elecash commented on #492
You can find it in the showroom repository: https://github.com/videogular/videogular2-showroom/tree/master/src/app/smart-playlist

[2017-04-24 09:40] #492 closed

[2017-04-24 09:46] waylander47 commented on #492
Thank you very much @Elecash ! :+1:

[2017-04-24 14:53] avatsaev opened #493 "Can't apply RxJS operators on observables returned by the API"
### Description

The event observables of API subscriptions don't allow standard rxjs operators

ex:
[code]

When assigning ```timeUpdate:Observable<any>``` to a variable of the same type, getting the following error:

[code]

package.json deps:
[code]

[2017-04-27 06:59] kamilo81 opened #498 "ExpressionChangedAfterItHasBeenCheckedError and buffering loop"
Hi,
thanks for videogular :)

I have problem with changing source dynamically. Sometimes i got error as below:
[code]

![videogular](https://cloud.githubusercontent.com/assets/8590592/25471329/e614c578-2b26-11e7-9e43-f35f2ab3fa95.png)

Another problem is when first loop is over and i want to play all videos again the buffering circle is blinking and visible all the time. In console i can see that

[2017-04-28 17:38] amitkumarmahajan opened #500 "Windows specific issues if follow readme.md"
### Windows specific issues
When tried to run project as per readme file following issues occured -

**1**. If run npm start , getting following error-

'parallelshell' is not recognized as an internal or external command,
operable program or batch file.

npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.j

[2017-04-28 18:22] amitkumarmahajan commented on #500
Committed through npm.

[2017-04-30 19:22] RatkoR opened #506 "Win8.1 + IMA ads + aot still getting "Object doesn't support this action""
### Description
Following the #491 fix: it seems that when using aot "Object doesn't support this action" still exists. Do you need to do anything else to get that fix ready for aot? Running "ng serve" works without errors.

[2017-05-04 07:07] bellagamba opened #514 "vg-volume and vg-mute in an Angular 4 cause page to refresh on mouse move"
### Description
Using vg-volume and vg-mute in an Angular 4 app causes the application to refresh all objects created with a *ngFor loop on mouse move. This slows down the page tremendously.

### Expected Behavior
*ngFor should not update on mouse move.

### Actual Behavior
*ngFor loop refresh on mouse move

### Steps to Reproduce
use a vg-player with these controls
[code]

have a control in the p

[2017-05-04 16:39] amitkumarmahajan commented on #470
@Elecash- I would like to take this up. Please provide some basic information.
This will be code enhancement in videogular2 or videogular2-showroom component?

[2017-05-04 18:13] bofcarbon1 commented on #470
This issue was closed.

[2017-05-05 16:10] Elecash commented on #475
Closing this issue, since this is not possible to reproduce.

If you have doubts about your config check [videogular2-showroom](https://github.com/videogular/videogular2-showroom) repository for reference.

[2017-05-05 16:10] #475 closed

[2017-05-05 16:10] #469 closed

[2017-05-05 16:34] Elecash commented on #498
Hi @kamilo81

Don't worry about errors of type `ExpressionChangedAfterItHasBeenCheckedError`. That means that we can improve the change detection in videogular2 but this errors disappear when you run on production mode.

About your error. I've been able to reproduce and I'll try to fix it asap. Thanks for reporting.

[2017-05-05 17:24] #498 closed

[2017-05-05 17:24] Elecash commented on #498
@kamilo81 this has been fixed, please, update to videogular2 v5.2.6.

[2017-05-05 17:29] kamilo81 commented on #498
Great! Thanks you

[2017-05-09 07:19] kamilo81 opened #518 "[Cordova] Android 4.4 API 19, 5.1 API 22 - No video duration, cant set video current time and more..."
Hi, I have some more problems. I'm writing Cordova app most concentrate on video player with ads.
I have to work from android 4.4 API19

First of all this is my code:

[code]
html:
[code]
### Description
Android 4.4 API 19
In this case I got error as below:
![errror](https://cloud.githubusercontent.com/assets/8590592/25838799/23a0d612-3495-11e7-82d1-4b66eb89b1a0.png)

I can't change video source.

[2017-05-12 23:11] benhalverson opened #522 "<vg-overlay-play> Play button only plays video once"
### Description
The middle play button only plays the video once.

### Expected Behavior
After the video ends and the play button displays again. Hitting play should start the video from the beginning.

### Actual Behavior
The video plays once then the play button does not function
See https://videogular.github.io/videogular2-showroom/#/single-player

### Steps to Reproduce
  1. Press the middle p

[2017-05-13 15:57] #522 closed

[2017-05-13 16:08] Elecash commented on #493
@avatsaev we updated to rxjs v5.1.0, can you try with latest version and tell me if it works now?

[2017-05-13 16:15] avatsaev commented on #493
Hello @elecash thank you, yes i noticed it on Friday and asked the intern to update the plugin, he said the update went smoothly but i didn't have time to check it myself, I'll check on Monday and let you know.

[2017-05-13 17:05] #369 closed

[2017-05-13 17:08] Elecash commented on #369
@randstein this has been fixed on v5.2.9, please test it with Edge, I've tested on IE11 and it worked well.

[2017-05-18 08:49] codegastudio commented on #498
Hello,
Sorry but i have this bug in 5.2.9 when trying to play video from dash or hls source.

[2017-05-18 09:22] codegastudio commented on #299
Hello,

I have test your showroom exemple about dash and hls but this not working for me
https://github.com/videogular/videogular2-showroom/tree/master/src/app/streaming-player

Only the first source work in your exemple and not luck it's an mp4 file so he don't use dash or hls functionality.
- source[0] -> work
- source[1] -> https://dash.edgesuite.net/dash264/TestCases/2a/qualcomm/1/MultiResMPEG

[2017-05-18 09:32] colinskow opened #525 "Support OnPush Change Detection"
### Description
The UI does not update properly when ChangeDetectionStrategy.OnPush is enabled on a parent component.

### Expected Behavior
The UI should update smoothly no matter which change detection strategy is selected by parent components.

### Actual Behavior
When OnPush change detection is enabled on any parent component the scrub bar, timers and even play/pause buttons are laggy and only

[2017-05-18 10:03] colinskow commented on #525
Inspecting the code it looks like the `vg-media` directive is the culprit. The easiest solution is probably to manually trigger `ChangeDetectorRef.detectChanges()` at the end of each `onUpdate` handler. I'll test this out and send a PR if it works.

[2017-05-18 10:06] Elecash commented on #299
@codegastudio we're using some open examples and sometimes these can be blocked, I need to find new urls to test.

I'll take a look to it soon.

[2017-05-19 09:47] Elecash commented on #400
Closing, this is a duplicate of #363

[2017-05-19 09:47] #400 closed

[2017-05-21 05:40] panoti opened #526 "Cursor not hidden in full-screen mode"
### Description
I set up **vg-controls** with **vgAutohide = true**. When full-screen is toggled, the **vg-controls** is hidden but my cursor is still visible. How can I hide my cursor in full-screen mode?

### Expected Behavior
Cursor is hidden in full-screen mode.

### Actual Behavior
The cursor is still visible

### Steps to Reproduce
`<vg-controls [vgAutohide]="true">`

### Attachments
| **Ima

[2017-05-22 08:36] jamesdeantv opened #527 "SeekTime not binding to ion range handle when dual knob is set to true"
### Angular version:
[] 1.x
[] 2.x
[X] 4.x

### Ionic version:
[] 1.x
[X] 2.x
[] 3.x

### Videogular version:
[] 1.x
[X] 2.x@5.2.9

### I'm submitting a ...
[X] bug report
[ ] feature request
[X] support request

### Current behavior:

While using the ion range component to scrub through seekbar, range handles do not seek to time when dualKnobs is set to true.

Max range handle properly seeks to t

[2017-05-23 07:56] iSteveLiu opened #529 "How can I integrate videogular2 into my ionic3 project?"

[2017-05-23 08:51] Elecash commented on #529
I think that you should ask this on StackOverflow.

This looks more like a question than a feature or bug.

[2017-05-23 08:51] #529 closed

[2017-05-23 11:27] Bl4ckM opened #530 "Responsiveness within Angular2+ Material Grid/Card"
Hi folks,

in angularjs videogular it is possible to set vg-width or vg-height or just set vg-responsive. Is it possible to use some of these options with videogular2?

I have a crucial time fitting videogular2 into a ng2 material grid tile at the moment. Any hints how to resize a video on videogular2 to fit in a material tile?

Kind regards

[2017-05-23 12:26] Elecash commented on #530
@Bl4ckM videogular2 is responsive by default, so you can just create a container with the size that you want and videogular will fit the container (width and height are set to 100%).

[2017-05-23 20:32] Bl4ckM commented on #530
@Elecash i poke around with angular2+ material grid layout and videogular2, it definitly sizes itself according to the video size and ignore all flex css values. I ended up with a hacky css solution, inheriting current height, width from grid tile and set videoplayer height to 100% and width to auto. Flex css values got completly ignored. Is it possible that videogular2 has some issues with flex l

[2017-05-26 08:33] #363 closed

[2017-05-27 08:58] Elecash commented on #527
@jamesdeantv it seems that you're doing two calls to `seekTime` and the last one is the good one.

Every time you call to `trim()` you call then to `trimTo()` and `trimFrom()` which basically makes two calls to `seekTime()` and the last call is always the one from `trimFrom()` that's why when you move the first knob you don't see any change.

You should call `seekTime()` depending on which knob ha

[2017-05-27 08:58] #527 closed

[2017-05-27 09:34] Elecash commented on #530
@Bl4ckM by default it should resize the player height according to the video height, that's because we can't stretch the video object.

You can force your container to have a `max-height`. If you have an example repo I would like to take a look to it.

[2017-05-27 10:31] #526 closed

[2017-05-28 14:54] #500 closed

[2017-05-28 15:07] Elecash commented on #518
@kamilo81 I think that a few days ago I solved a similar issue for IE11/Edge.

Can you try updating the library to the last version?

[2017-05-28 15:08] Elecash commented on #514
@bellagamba do you have a repo to reproduce this error locally?

[2017-05-28 15:11] Elecash commented on #506
@RatkoR in version 5.2.9 I've added a fix to the `VgScrubBarCuePoints` component that fixed that error for IE11/Edge.

If you're using that component, can you try with that version?

It would be helpful if you can post here the error stack trace to know where is failing.

[2017-05-29 07:02] KamilPius commented on #518
@Elecash I updated videogular2 to newest vesion and

When video is finished and paused it cant be played again by click big play button on middle of video. Only if i click play button on control bar it start play again.

Now its working, but other problems still occur.

[2017-05-29 07:27] KamilPius commented on #518
@Elecash

This problem

    this.api.getDefaultMedia().subscriptions.loadedMetadata.subscribe(() => {
    this.advertIsPlaying) {
        this.api.getDefaultMedia().currentTime = this.videoTime; //this.videoTime = 43.543
      }
    });

I can solve by adding simple timeOut:

[code]

I think its because api.time.total is not updating correctly.

And I still cant handle with error on Android 4.4 AP

[2017-05-29 19:51] johnking commented on #470
Hi Guys,

First of all, thanks videogular2!

I also need to play youtube videos in my application, I want to know the status of this feature.

Are you working on it? @amitkumarmahajan

or

It is assigned to someone else? @bofcarbon1 @Elecash

Thanks

[2017-05-29 20:41] bofcarbon1 commented on #470
@johnking .... I do not know the progress on youtube capability.  My need changed as I deployed my app to a free Heroku dyno. My reality wall was 1. add on storage charges for the video 2. data transfer and bandwidth charges for the video. That forced my hand back to using a link to youtube. Videogular2 works great and I was able to use it on my development server.

Just curious John what is the a

[2017-05-29 21:51] johnking commented on #470
@bofcarbon1
I need fine control the playback experience and manipulate the text track and ads ...

thanks for your reply anyway.

[2017-05-30 07:58] Elecash commented on #470
@johnking this is still on hold, we have a lot of stuff to do.

On the other hand, Youtube tracks are handled through the Youtube API, so you can't use the Videogular API to handle tracks and so on.

If you want to start working on this you can take a look to the [Youtube API](https://developers.google.com/youtube/v3/docs/) and the [Youtube Captions API](https://developers.google.com/youtube/v3/do

[2017-05-30 10:58] johnking commented on #470
Thanks Raul for the information.

On Tue, May 30, 2017 at 3:58 AM, Raúl Jiménez <notifications@github.com>
wrote:

--
-John

[2017-05-30 13:18] codegastudio commented on #299
Hello,
@Elecash did you have found time to test your showroom exemples ?
Regards

[2017-05-30 13:25] Elecash commented on #299
I still need to find some open HLS and DASH example files.

Open an issue here if you want so I can remember to do it.

[2017-05-30 17:11] johnking commented on #483
the angular-cli might have some issues depending on the dev environment, in my case, it did not load  `videogular.css` as expected.

[code]

I added it into the `index.html` as a workaround.

[2017-06-01 12:07] Passiee opened #539 "HLS streams aren't possible to play on videogular2 5.2.6+ on Chrome, Firefox & Android devices"
### Description
Since version 5.2.6 it seems like HLS is not working . I've tried most videogular 2 versions between 5.2.6 and 5.4.0 as well as using different versions of hls.js. Works fine on 5.2.3 which I'm trying to upgrade from.

### Expected Behavior
Expected is that the video is played :)

### Actual Behavior
Instead of the stream being played the console logs the following:
```Uncaught (in

[2017-06-01 23:06] YuriFontella opened #540 "source element don't work"
Work:
`<video #media [vgMedia]="media" preload="auto" [controls]="controls" src="{{video}}"></video>`

Don't Work:
[code]

Can it be related to the source of the link in my video?
Thanks!

[2017-06-02 08:35] #525 closed

[2017-06-02 08:39] Elecash commented on #439
Closing for inactivity.

[2017-06-02 08:39] #439 closed

[2017-06-02 08:39] Elecash commented on #435
Closing for inactivity.

[2017-06-02 08:39] #435 closed

[2017-06-02 08:41] Elecash commented on #493
Closing for inactivity.

Please re-open if it's not working.

[2017-06-02 08:41] #493 closed

[2017-06-02 10:01] Elecash commented on #540
@YuriFontella can you try like this?

[code]

[2017-06-02 11:25] #539 closed

[2017-06-03 01:15] YuriFontella commented on #540
Work:
`<video #media [vgMedia]="media" preload="auto" [controls]="controls" [src]="video"></video>`

Don't work:
[code]

The situation is the same (disregard <source> closed)
Is related to the link in my video.

Tutorial link, it works in element <source>...
<source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">

Thanks for listening.

[2017-06-03 07:25] #540 closed

[2017-06-05 13:45] umutg4d opened #545 "Videogular 2 ima 'googletag is not defined.' error on Ionic 3."
Hi, I use Videogular 2 on Ionic 3.
I follow this tutorial (https://videogular.github.io/videogular2/modules/ima-ads/) for the implementation. But when Videogular tries to load ads on VgImaAds.loadAds method, it gives this error 'googletag is not defined'. I have imported every module needed in App.module.ts.Here is the imports in App.module.ts.
[code]

 Here is my page's component html.

[code]

[2017-06-05 15:15] Elecash commented on #545
Did you add the script to your `head`?

`<script src="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script>`

[2017-06-05 15:23] umutg4d commented on #545
Yes, i have done every step for the tutorial.

[2017-06-05 20:12] RatkoR commented on #506
Ok, sure. I'll close this ticket and will open a new one with stack trace (if I get one). Thx!

[2017-06-05 20:12] #506 closed

[2017-06-06 08:56] Elecash commented on #539
@Passiee you can check the demos, everything should be working now, DASH and HLS streams.

[2017-06-06 13:28] fdambrosio commented on #257
Hi @Elecash  I'm testing the bound-player and it doesn't work.
When I click the 'update source' button the player reloads the first video (videogular.mp4).
I've the same issue on a project based on videogular.
My environment:  Crome 58 on Mac 10.12

[2017-06-06 13:35] fdambrosio opened #547 "Can't update video sources ( bound-player )"
### Description
I'm testing feature that updates sources for Videogular 2. I'm testing the bound-player (from showroom code) and it doesn't works.

### Expected Behavior
When I click the 'update source' button the player loads the new video path (http://static.videogular.com/assets/videos/big_buck_bunny_720p_h264.mov)

### Actual Behavior
When I click the 'update source' button the player reloads

[2017-06-06 13:50] Elecash commented on #257
@fdambrosio this is a bug probably introduced in the last release. I will fix it asap.

[2017-06-06 22:33] SteveTabernacle opened #548 "Dead (404) getting started link in readme"
### Description
The getting started guide link under "how to install" in the readme[1] is dead (404). Should be replaced with the new folder[2] instead of the old removed md file.

[1] https://github.com/videogular/videogular2/blob/master/README.md
[2] https://github.com/videogular/videogular2/tree/master/docs/getting-started

[2017-06-07 08:39] Passiee commented on #539
@Elecash Works great with 5.4.4! Thanks for the quick fix.

[2017-06-07 11:44] #545 closed

[2017-06-08 08:28] #547 closed

[2017-06-08 09:08] Elecash commented on #547
@fdambrosio this should have been fixed with release v5.4.6.

You can check on Showroom too if you want.

[2017-06-08 14:24] fdambrosio commented on #547
@Elecash I've tested v5.4.6 on my project and the issue is fixed, thanks!

[2017-06-09 09:52] Elecash commented on #548
Thanks, even better if we put the link to the generated docs.

https://videogular.github.io/videogular2/getting-started/

[2017-06-09 09:54] #548 closed

[2017-06-10 01:14] mwawrusch opened #552 "Question: How to start streaming HLS from the current point in time?"
### Description
I need to start streaming from the current point in time from the broadcaster's frame of reference, not the beginning of the stream. E.g. someone is broadcasting 10 minutes in, and a viewer connects and should start seeing content at the 10 minute mark, not the beginning.
What is the correct way of implementing that?
PS: AWESOME work, thank you.

[2017-06-11 21:19] YuriFontella opened #553 "Event to prevent playback"
Is it possible to not allow the user to play?

Something like...
[code]

[2017-06-12 09:44] Elecash commented on #552
@mwawrusch you can try by doing a seek when `canplay` or `loadedmetadata` is triggered.

[code]

In your Angular Component:

[code]

Obviously you probably need to do this only the first time, because you can receive several times the `canPlay` event, so you should do some fix to avoid multiple calls.

[2017-06-12 09:45] Elecash commented on #553
You can try by adding just a style to avoid clicks, like:

[code]

[2017-06-12 18:11] kspeilight opened #555 "vg-volume and vg-mute doesn't work for ios on Ionic app."
### Description
Hi, I use Ionic 2 to develop apps and use Videogular 2 for video streaming. But a little problem on vg-controls component bothers me. Everything works fine for Android, but on ios, vg-volume and vg-mute components don't work at all. It stands where it is and doesn't move at all.
Here is the video creation markup.

[code]
Here is the non-responding vg-volume element that Ionic creat

[2017-06-12 18:52] Elecash commented on #555
@kspeilight afaik you can't change programatically the volume on iOS and Android Stock Browser (it works on Chrome for Android). You only can do it via the hardware buttons.

This is for security restrictions on Webkit for Mobile.

[2017-06-12 20:32] benhalverson opened #556 "Videogular2 missing type definition error"
Description

When I run the angular/cli compiler with i18n flags I am getting an error about a missing Type definition file for videogular2

Expected Behavior

No error

Actual Behavior

Missing type definition error

Steps to Reproduce

./node_modules/.bin/ngc --i18nFile=./locale/messages.es.xlf --locale=es --i18nFormat=xlf

[2017-06-13 04:30] YuriFontella commented on #553
CSS would not be a good way, because it needed something that was secure. I solved it with api.pause() and api.currentTime(). It is superfluous, there could be a "notPlayback()".

Thank you.

[2017-06-13 09:10] #555 closed

[2017-06-13 10:52] kspeilight opened #557 "Mid-Roll Post-Roll ima-ads implementation"
Hi,
I implemented the normal ima-ads module succesfully, but i don't know how can i integrate Mid-Roll and Post-Roll ima implementation? I didn't see any info about this on documentation. Do adTagURL handle all of this or do i need extra code to implement this?
Thanks...

[2017-06-14 14:01] kspeilight opened #559 "Showing Mid-Roll Overlay Ads When user reaches %30 of the video"
### Description
Hi, I want to show mid-roll overlay ads when the user reaches %30 of the video duration. Is it possible? Can i control the progress and start ads when user reaches some destination programmatically?

[2017-06-14 20:48] benhalverson commented on #556
Hi @Elecash can you assist? I'm working on making a PR to create the type definitions but I'm unsure on where to start

[2017-06-15 11:28] Elecash commented on #557
Everything should be in the Ad Tag URL, that's how VAST works.

I recommend you to take a deep look to Google IMA Docs to understand what's VAST and how it works.

You can test here your ads.
https://developers.google.com/interactive-media-ads/docs/sdks/html5/vastinspector

[2017-06-15 11:28] #557 closed

[2017-06-15 11:31] Elecash commented on #559
You can do this via VAST configuration, again, take a look to DoubleClick documentation to see how you can set up your own ads.

https://support.google.com/dfp_premium/answer/1181016?hl=en

[2017-06-15 11:31] #559 closed

[2017-06-16 08:27] beaufortfrancois commented on #431
For info, I've just published an article about this exact issue at https://developers.google.com/web/updates/2017/06/play-request-was-interrupted that tells you exactly what is happening and **how to fix it**.

[2017-06-16 08:33] Elecash commented on #431
@beaufortfrancois I would like to know if that workaround also works on mobile, since we have the restriction to not allow autoplay. Also, how it works on other browsers like Safari, IE11 and Edge?

[2017-06-16 08:45] Elecash commented on #556
Hi @benhalverson

I've added a messages.es.xlf file to the showroom and it works when I compile with your command. Can you create a repo to reproduce your error?

[2017-06-16 08:46] Elecash commented on #553
Then just pause the video on every play.

[code]

[2017-06-16 08:47] Elecash commented on #553
Sure, `api.pause()` should work.

[2017-06-16 08:47] #553 closed

[2017-06-16 08:48] Elecash commented on #552
Closing. Open again if you need further assistance.

[2017-06-16 08:48] #552 closed

[2017-06-16 16:09] kzorluoglu opened #560 "API Cannot read property 'play' of undefined"
when a example mp4 video over typescript with VgAPI play, receive this error...
[code]
TypeError: Cannot read property 'play' of undefined

[2017-06-17 20:41] Elecash commented on #560
You must get VgAPI via an `@Output`.

[code]

[2017-06-17 20:41] #560 closed

[2017-06-20 02:56] stevenshzf opened #562 "How can I take a screenshot of the video in the current time"
¿Is it possible to take a screenshot at some point in the video?

[2017-06-20 08:30] Elecash commented on #562
You can do a screenshot with `canvas`. Take a look to this tutorial: http://html5doctor.com/video-canvas-magic/

[2017-06-20 08:30] #562 closed

[2017-06-20 09:29] #431 closed

[2017-06-20 09:35] Elecash commented on #431
This has been fixed in v5.4.8.

Thanks to @beaufortfrancois for the good link and @kfeinUI because I totally copied his implementation for https://github.com/videogular/videogular.

[2017-06-20 14:52] phongyu opened #564 "Cannot play video from S3"
I uploaded my mp4 file to S3.
https://s3.amazonaws.com/my-bucket/item1/16x9/main.mp4

I tried to play this video, but I received an error:

Note:
I tried this code and it works:

[code]

Any suggestion is appreciated.

[2017-06-20 18:32] Elecash commented on #564
@phongyu can I see your code? I can't open the file because it seems that it has been removed.

[2017-06-21 13:19] phongyu commented on #564
@Elecash, please refer to this url:
https://s3-eu-west-1.amazonaws.com/phongtesting/sample03_h264.mp4

[2017-06-21 21:09] svoicu opened #565 "There seems to be a leak with videogular2"
Videogular2 seems to be leaking, for each video played there is a VgPlayer, VgAPI, etc. left over, even after leaving the page.
I have checked (and fixed, where needed) that no leaks were produced by our code, but the leaks were still present after. There are subcribers left in VgPlayer, also observers attached to events, like onPlayerReady. The screenshot below was taken by taking a memory snapsh

[2017-06-21 23:57] kwarismian commented on #565
Found the leaker and pushed up a pull request.

#566

[2017-06-22 08:17] Elecash commented on #565
Fixed via https://github.com/videogular/videogular2/pull/566

[2017-06-22 08:17] #565 closed

[2017-06-22 08:44] Elecash commented on #564
@phongyu can you post your code?

Maybe you added the `crossorigin` attribute, if that's the case remove it and it should work.

[2017-06-22 10:53] metalraf commented on #349
Video on my site cause you type slow in the text fields
used: Angular 4, Videogular, hls  streaming: .m3u8 from wowza server.
everything else works fine.

[2017-06-23 12:22] phongyu commented on #564
Hi, yes, it worked. Please give me a short explanation. I met the "Cross Origin" problem before with online image, if removing this attribute, is there problem in future?

[2017-06-23 13:07] Elecash commented on #564
That depends on how your server is configured. You will probably not have problems, but if you don't enable CORS on your server someone can take screenshots from your videos remotely.

You can read more here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video

[2017-06-23 13:07] #564 closed

[2017-06-23 21:51] johnking opened #568 "could not re-play medias with `vg-controls`"
### Description
*I could not re-play the media after the play is ended by using `vg-controls`, but there is no issues with native `controls`*

### Expected Behavior
*After the media play is completed, users can re-play it.*

### Actual Behavior
*Once the first time play is done, users can not replay it by clicking the play button*

### Steps to Reproduce
* follow the steps specified at:
[videoangu

[2017-06-26 18:18] marty331 opened #569 "Unable to play video with VGDASH"
I added VGDASH as explained in https://videogular.github.io/videogular2/modules/streaming/vg-dash/ by doing npm install dashjs --save then adding "../node_modules/dashjs/dist/dash.all.min.js" under scripts in my angular.cli.json file.  Then I changed my video element as follows -
 <video #media
                [vgMedia]="media"
                [vgDash]="currentItem.src"
                id="singleV

[2017-06-27 02:37] esbrito commented on #568
I have the exact same problem. Maybe is related to this issue already closed:
https://github.com/videogular/videogular2/issues/522

[2017-06-27 05:19] YuriFontella commented on #469
I do not know if it's exactly the same problem ... But as a new video is dynamically changed in src, the legends of the previous videos are accumulating. The new track is loaded, but the old ones are not discarded.

[2017-06-27 09:56] alexcetto commented on #569
Yes, the guide is unclear on this one.

Follow instructions at: https://videogular.github.io/videogular2/modules/streaming/

Usually, "is not a know property is related to a module missing.

[2017-06-27 15:04] johnking commented on #568
Hi @Elecash ,
  May you please give us any hints on how to resolve it or work around it?

thanks

-John

[2017-06-27 15:14] Elecash commented on #568
@johnking I'll take a look tomorrow, this is probably introduced in the last fix to avoid the `play request interrupted` error.

Probably I need to update the player state to avoid the return in this method: https://github.com/videogular/videogular2/blob/master/src/core/vg-media/vg-media.ts#L235-L253

[2017-06-27 15:43] Elecash commented on #568
@johnking fix is coming, it should be published in 5 mins

https://github.com/videogular/videogular2/pull/570

[2017-06-27 15:46] #568 closed

[2017-06-27 15:46] Elecash commented on #568
@johnking check v5.4.11 and it should be fixed.

[2017-06-27 17:34] marty331 commented on #569
Thanks alexcetto, that gave me the answer.

[2017-06-27 17:34] #569 closed

[2017-06-27 17:53] shaychoo opened #571 "code samples of the demo website"
can you provide the code samples of the demo website?

[2017-06-27 17:57] marty331 commented on #571
They are here:
https://github.com/videogular/videogular2-showroom

[2017-06-27 18:08] #571 closed

[2017-06-27 18:23] johnking commented on #568
@Elecash

thanks for your quick reply!

Best
-John

[2017-06-27 21:14] marty331 opened #572 "Unable to remove CuePoints when new video starts"
Hello, I'm combining a video playlist with cue points and I cannot seem to clear out my current cue points (tracks) when the next video starts.  The second (or third) video will play but the cue points that were previously used will fire a second time.

I've tried removing them with this method but it is not consistent, for some reason it skips some of the cues:
[code]

Which is fired from:

[code

[2017-06-27 21:16] marty331 commented on #572
Sorry for the formatting above, I tried to reformat but was unsuccessful.

[2017-06-28 14:08] johnking commented on #568
HI Raul @Elecash ,

  I verified the new commit- v5.4.11 with two environments, both work fine!

thanks for the quick fix!

-John

[2017-06-28 14:51] Elecash commented on #568
Thanks to you @johnking for your very good and detailed issue.

That helps me a lot to find bugs faster!

[2017-06-29 10:42] shwetas89 commented on #461
hi i am using it in angular 2 can we have on mouseover show video controls

[2017-06-30 09:25] Elecash commented on #461
@shwetas89 just set the vgAutohideTime to 0.1 and it should work.

[2017-06-30 09:37] Elecash commented on #572
@marty331 there is no a `removeTextTrack` method in the native HTML5 api. The best you can do probably is to remove the `track` DOM element when you change to a new source.

[2017-06-30 09:37] Elecash commented on #469
@YuriFontella there is no a removeTextTrack method in the native HTML5 api. The best you can do probably is to remove the track DOM element when you change to a new source.

[2017-06-30 10:13] shwetas89 commented on #461
hi thanks for reply.its done can we add custom button in video overplay instead of original styled button

[2017-07-02 20:32] EyalIsr opened #573 "How do I dynamically add cues to a NEW track?"
Hi,

I would like to add track at runtime and assign some cues to it, and to be able to handle the `onEnterCuePoint` and `onExitCuePoint` events. But with no success yet...
The Showroom example shows how to add cues to an existing track which is loaded from a WebVTT resource, and that's working. But my case doesn't include a WebVTT file, so I couldn't make a <track> item which is useable: when I c

[2017-07-03 20:31] kdlarson opened #574 "How to get error details?"
I am trying to get detailed error information but haven't figured out how. The docs say:

`error: Fired when an error occurs. The element's error attribute contains more information.`

Sorry if I'm missing something obvious, but how do I get the information in the error attribute? An example would be very helpful. Thanks!

[2017-07-05 06:10] kehkashanF commented on #318
@anil1712 Did you get the solution to the above qury? I seem to be facing the same problem of only buffer image being shown.

[2017-07-05 06:39] kehkashanF commented on #318
@anil1712 If you're still interested in a solution to your problem of removing buffer image and getting the video to play, try this:
`<video #media vgMedia [id]="attachment.id" [src]="attachment.videoUrl" preload="auto" poster="your/path/to/image.jpg" crossorigin></video>`

and remove the `source` tag completely.

[2017-07-06 01:41] kdlarson opened #575 "Overly strict filter for streaming manifests"
The vg-hls and vg-dash classes limit the manifests to specific file extensions. This causes differently named manifests to not be read. For example, Azure Media Services has the option of dynamic packaging which serves a dynamic manifest (for DASH, HLS, or Smooth Streaming) that doesn't have a file extension. These currently won't play at all unless the workaround below is used.

Ideally, a config

[2017-07-06 19:29] marty331 commented on #572
Here is how I solved this issue, I created a videoEnded() function and in my video element I am calling (ended)="videoEnded()".  videoEnded() looks a the track and removes the cues, I kept having an issue where the second cue in the track would be undefined so I made the function recursive and that solved the issue.  Hopefully this will help someone else if they have this need.

`<video #media

[2017-07-06 19:36] #572 closed

[2017-07-08 00:17] YuriFontella commented on #469
Hi Elecash,

So I had to implement the back to parent compenent and re-enter the children component, where the player is.

[2017-07-10 18:02] marty331 commented on #575
@kdlarson what type are you specifying for the video?  'video/mp4', 'application/vnd.ms-sstr+xml' or something else?  I tried making the changes you specified but I am getting the following error:
`AppComponent.html:71 ERROR TypeError: Cannot read property 'indexOf' of undefined
    at VgDASH.webpackJsonp.../../../../videogular2/src/streaming/vg-dash/vg-dash.js.VgDASH.createPlayer (vg-dash.js:37)

[2017-07-11 10:29] Elecash commented on #573
If you have created a new track then you must use the native event `cuechange`. For example:

[code]

Maybe with that you can solve your problem.

[2017-07-11 10:33] Elecash commented on #574
@kdlarson you can use it in two ways:

1. Via `(error)` handler:
[code]

2. Via observables:
[code]

Give it a try and let me know if it works.

[2017-07-11 10:34] Elecash commented on #575
@kdlarson I would like to have support for this particular case. Do you want to make a pull request?

I can help you if you want.

[2017-07-11 11:42] Elecash commented on #469
@YuriFontella yes, probably something like that should work.

[2017-07-11 11:46] marty331 commented on #469
Check out what I implemented on 572

[2017-07-11 23:26] kdlarson commented on #575
@marty331 Sorry I made a cut/paste mistake in my original workaround for DASH. Please see the updated code in my original post. Regarding the video type, I didn't specify it because I bound the manifest URLs using vgHls and vgDash which it seems already "know" the type. I used the following code to do this:

`    <video #media          [vgMedia]="media"
          [vgHls]="currentStream"

[2017-07-11 23:28] kdlarson commented on #575
@Elecash Yes, I'll try to create a pull request for this. Thanks!

[2017-07-12 05:52] EyalIsr commented on #573
Thanks!

I have some questions regarding your code:
1. How do you add track to the video with VgAPI? I've only managed to get do it with (natively? this is the word for it??) `getElementById` and `addTextTrack`.
2. (this is not Videogular related, hope it's ok :)) - can you explain a bit the event subscription part on your code:

        Observable.fromEvent(<any>track, 'cuechange').subscribe(this

[2017-07-12 07:51] Elecash commented on #573
@EyalIsr you can add a track dynamically via the api with the method `addTextTrack`.

Here's the definition:

[code]

To use it you can do something like this:

[code]

The `cuechange` event is an event dispatched when a TextTrack updates the active cues, that means when you enter or exit from any cue of the TextTrack.

In that case the `Observable.fromEvent()` is the same as `track.addEventListen

[2017-07-12 07:54] Elecash commented on #575
@kdlarson nice, I'll take a look to the PR.

BTW, `vg-plays-inline` it's an old property of Videogular for AngularJS, not Videogular2 (which is for Angular).

[2017-07-12 15:00] mitchregel commented on #573
@Elecash In terms of setting myNewTrack equal to your created track, I get undefined when I use the above method but have worked around it using the following:
[code]
Except, now I receive the error ```ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'null'. Current value: '[object TextTrackCueList]'``` when setting ```this.track = this.api.

[2017-07-12 15:03] Elecash commented on #573
@mitchregel do you have any binding to a text track on the html? Can you put your html template?

[2017-07-12 15:14] mitchregel commented on #573
@Elecash Here are the pieces of the template pertaining to cue's:

[code]
...
[code]

[2017-07-12 15:39] Elecash commented on #573
This error usually happens if you change the `track` property at some point.

Maybe you can avoid this error by calling the detector after the change as explained here:

https://stackoverflow.com/questions/39787038/how-to-manage-angular2-expression-has-changed-after-it-was-checked-exception-w

[2017-07-12 15:43] mitchregel commented on #573
@Elecash Thanks, I'll give it a shot!

[2017-07-13 01:09] kdlarson commented on #574
Yes, thanks. I was trying to use vg-error but I see it's not needed in videogular2.

[2017-07-13 01:09] #574 closed

[2017-07-13 08:42] onkelsoft commented on #355
npm install @types/core-js --save-dev

will solve your problem.

[2017-07-14 06:53] zengmeng1094 opened #577 "How to change source after my videogular2 player is ready?"
I have successfully init my player,but I don't find a function just like "reload/load" to reload my video source.And I read videogular2‘s API，and the official document was do this function by using angularJs not angular2.I need some help,maybe someone can help me to find the useful document.please give me a url or others.Thanks a lot!

[2017-07-14 07:07] Elecash commented on #577
You can take a look to this article:
https://www.toptal.com/angular-js/angular-video-player-videogular

And here's the docs: https://videogular.github.io/videogular2/

[2017-07-14 07:07] #577 closed

[2017-07-14 09:05] zengmeng1094 opened #578 "change source in vg-player tag"
[code]
if the sourcePath change , the video don't change,what should I do to let them synchronize?

[2017-07-14 09:09] Elecash commented on #578
Use it with prop bindings:

[code]

Or:

[code]

[2017-07-14 09:17] zengmeng1094 commented on #578
well,i try as u say,but there is a stange phenomena,i use firebug to get the video div and find the src is correct,but the video not play the src's resource.I think the player is init with the src is fixed,and I need a function to manual load new resource,isn't it?and i don't find a function as i think

[2017-07-17 03:55] born2net opened #579 "With latest TS 2.4 getting TypeScript error 'Subject<T>' incorrectly extends base class 'Observable<T>'. (works in ts 2.3)"
### Description
with latest TypeScript 2.4 getting error (no issues with TS 2.3)

[code]
### Expected Behavior
no error

### Actual Behavior
TS error

### Steps to Reproduce
[code]

ref: https://stackoverflow.com/questions/44793859/rxjs-subject-d-ts-error-class-subjectt-incorrectly-extends-base-class-obs

[2017-07-17 07:31] #573 closed

[2017-07-17 10:09] zengmeng1094 commented on #578
Maybe I don't make it clear that I want to load a video after the videogular had been initialized,and there is no function like load()/reload() as other player do usually.I hope that someone could give me some advices.

[2017-07-17 10:12] zengmeng1094 commented on #578
I had found a function changeSource(array),but it don't work in the angular2.I need a function like it.

[2017-07-17 10:41] Elecash commented on #578
@zengmeng1094 if the video file is not played it might be because it is not supported by the browser. Can you try with our demo media files?

http://static.videogular.com/assets/videos/videogular.mp4
http://static.videogular.com/assets/videos/videogular.webm
http://static.videogular.com/assets/videos/videogular.ogg

I recommend you to put all of them with an `ngFor` like we're doing it here:

http

[2017-07-17 17:48] ergodaveh commented on #470
Any progress with the Youtube-Videogular2-plugin?

[2017-07-18 01:14] zengmeng1094 commented on #578
I follow your advice and I can change video source when I had spelt all video sources(A) before the player initial(the video sources(A) is a paramter to the player).But a question appear when I want to change a video source(B) which not in the A,I change the player's src by updating the array and the player's `<video>` tag's src is B's src,but the player play the last video not B's.I don't know wh

[2017-07-18 06:48] zengmeng1094 commented on #578
finally,I find use this could solve my problem
`(<VgMedia>api.getDefaultMedia()).loadMedia();`

[2017-07-18 08:03] #578 closed

[2017-07-18 08:57] zengmeng1094 opened #580 "How to control the vgplayer while the source is m3u8 format?"
I use the videogular2 and follow the API to get a api to control the vgplayer.But when the source's format is m3u8,the api's many properties is undefind so that some function such as seekTime() don't work.In this situation,what should I do to achieve my controlling vgplayer's goal?@ Elecash

[2017-07-18 10:17] Elecash commented on #580
@zengmeng1094 that should not happen, you can check it out on the HLS demo that we have published here: https://videogular.github.io/videogular2-showroom/#/streaming-player

If you select HLS you will see that the source is an m3u8 file and you can still use the custom controls and these are using underneath the API calling methods like `seekTime` (for example, when you click on the scrub bar).

[2017-07-19 15:19] lmvijay24 opened #581 "Not allowed to load local resource: file:///C:/tempabcd$$$stdfiles/test.mp4"
Unable to load video from the local path.

[2017-07-19 16:46] sardell opened #582 "Accessibility"
### Description
Has accessibility for Videogular been considered? I've recently added it to a project only to find out that the controls aren't accessible via keyboard or screen reader (with the exception of the time display).

### Expected Behavior
A user utilizing a screen reader and/or navigating with a keyboard should be able to access Videogular controls.

### Actual Behavior
Testing with a k

[2017-07-23 16:59] PsychicCat opened #583 "support for angular universal?"
i get this error because window is not defined

    CustomEvent.prototype = window['Event'].prototype;
                                           ^

TypeError: Cannot read property 'prototype' of undefined
    at /home/user/Projects/av3/node_modules/videogular2/core.js:16:44

[2017-07-25 08:30] zengmeng1094 commented on #580
I have post some question by email,thanks for your reading.@Elecash

[2017-07-25 22:06] kdlarson opened #584 "Support for DASH DRM and token authentication"
Currently, Videogular2 cannot stream DRM protected content. The following workaround will allow playback of DRM DASH streams from the Azure Media Services environment (should work for other streaming services too, perhaps with some tweaks). The code leverages dash.js built-in support for DRM which Videogular2 currently does not expose.

My particular implementation involves a lot of moving parts (

[2017-07-26 22:56] Elecash commented on #584
@kdlarson this is great!

I'm totally in to add DRM support to Videogular2 and this is something that crossed my mind several times. It was stopping me to do it because I don't have any DRM files or server to do the tests so maybe you can help me with that.

As you said, Video.js is a reference player for DRM (and honestly, other stuff too) but we can also take a look to the DASH.js reference play

[2017-07-26 22:59] Elecash commented on #583
@PsychicCat which version are you using? we added a few releases back a check to avoid this on Universal as you can see here:

https://github.com/videogular/videogular2/blob/master/core.ts#L6

[2017-07-26 23:01] Elecash commented on #582
This is something that I want to consider. Actually we have this implemented on Videogular for AngularJS so we can try to do the same on Videogular2.

Would you like to start a PR? I'm happy to help you in the process 😄

[2017-07-26 23:01] Elecash commented on #581
@lmvijay24 is this a native desktop app with Electron?

On web you can't load videos from local paths.

[2017-07-27 10:54] mikemike opened #585 "Unable to change a video source"
### Description
Unable to play next video in series automatically or using `vg-overlay-play`.  Native controls do work.

It's worth noting that I am using Ionic 2 for this, but not encountered any other compatibility issues so far, and find it unlikely anything other than some styling would interfere.

### Versions
I am using Videogular2 @ 5.4.11.

### Expected Behavior
I expect the next video to

[2017-07-27 14:04] marty331 commented on #584
I will begin testing this early next week.  Great job @kdlarson!

[2017-07-27 20:48] kdlarson commented on #584
@Elecash I like all of your idea and that signature looks great.

Supporting those 3 DRMs would give great coverage. I'm currently using both PlayReady and Widevine for DASH streaming. For HLS, FairPlay is on my list but I haven't implemented it yet.

VideoJS actually uses dash.js under the hood to manage DASH streaming (and several other techs for progressive, flash, and HLS). They support all of

[2017-07-27 20:59] kdlarson commented on #584
You can get some DRM protected streams, with and without token authentication at:

http://ampdemo.azureedge.net/

The following are particularly good examples from the list:

- DRM (PlayReady/Widevine) - On Demand [Big Buck Bunny]
- PlayReady (dynamic/SWT token) - On Demand [Big Buck Bunny]

The second stream uses token authentication. You can select one of the streams, press the "Update Player" b

[2017-07-27 21:20] Elecash commented on #584
@kdlarson woooot! this examples looks awesome, thank you for the link I didn't know about it!

I've been poking around on videojs-contrib-dash and everything looks pretty simple. I'll try to do an update to VgDash and let's see how it works 😄

[2017-07-27 21:25] kdlarson commented on #584
@Elecash Awesome! Thanks for taking this on!

[2017-07-29 16:16] sardell commented on #582
Sounds good! Just started it at https://github.com/videogular/videogular2/pull/587.

[2017-07-30 11:46] ende124 opened #588 "Chromecast support"
This player looks really promising, but support for Chromecast would be fantastic.

[2017-08-01 19:53] wdspider commented on #579
This issue seems to be triggered by the node_modules folder within the videogular2 package.  If I delete the node_modules folder, the error goes away until the next time `npm install` is called which automatically readds the node_modules subfolder.

[2017-08-01 19:54] born2net commented on #579
the problem comes when distributing an app, as can't expect end users to do that.

[2017-08-02 17:23] rushsteve1 commented on #579
This was an issue in Rxjs itself with TypeScript 2.4.X:  https://github.com/ReactiveX/rxjs/issues/2539

[2017-08-04 00:44] YuriFontella opened #589 "update rxjs"
http://imgur.com/hoJl7mz

By checking the Subject.d.ts file for version 5.4.2 of rxjs, this problem is already fixed. This would not cause this problem in compilation.

If you can check.

[2017-08-07 03:54] Maik3345 opened #590 "Ionic 3: Can't bind to 'vgMedia' since it isn't a known property of 'video'."
Hello this is my problem, in my module.ts import this

`import { VgCoreModule } from 'videogular2/core';
import { VgControlsModule } from 'videogular2/controls';
import { VgOverlayPlayModule } from 'videogular2/overlay-play';
import { VgBufferingModule } from 'videogular2/buffering';`

And in the imports add this

`imports: [
VgCoreModule,
VgControlsModule,
VgOverlayPlayModule,
VgBufferingModule,

[2017-08-07 04:53] Maik3345 commented on #590
I solbed the problem, with ionic 3 and the laziload is present this problem, Quit the laziload and work  correctly, any idea for this bug or problem?

[2017-08-08 17:51] fizdalf opened #591 "ExpressionChangedAfterItHasBeenCheckedError"
### Description
I'm creating some custom time display and a custom scrub bar. An example can be show in here
https://stackblitz.com/edit/ionic-gkpktm

### Expected Behavior
I expect the numbers of the time display to go up showing the current time of the audio file. I expect not to see any errors.

### Actual Behavior
The numbers do go up when I run it on a browser environment no problems there. A

[2017-08-09 09:47] jemliF commented on #311
I still getting this error with version 5.4.11

[2017-08-10 21:49] Bubelbub opened #592 "Error: this.target.subscriptions is undefined"
### Description
If the player is loaded or few milliseconds before I get this error.
```this.target.subscriptions is undefined```
And after that the whole app is crashed and not working anymore.

### Expected Behavior
That the app not crash ;-)

### Actual Behavior
The page crashes and I can't do anything.

### Steps to Reproduce

[code]

### Attachments

| **Callstack** |
| --- |
| ![2017-08-10 2

[2017-08-15 11:54] danielehrhardt commented on #592
Same Problem here

[2017-08-15 14:34] daveschikora commented on #175
please include this in the getting started tutorial: https://videogular.github.io/videogular2/getting-started/

[2017-08-15 15:46] Elecash commented on #584
@kdlarson I've created a PR but I can't find any protected source that works on my local.

Can you test with the branch `feat/drm` and tell me if it works for you?
https://github.com/videogular/videogular2/pull/593

[2017-08-16 14:28] jnrndn opened #594 "handle buffer between two videos"
### Description
When video 1 is loading buffer video 2 has to be paused  until video 1 is ready to continue, then both videos must be played.

### Expected Behavior
Pause and play video handling buffer.

### Actual Behavior
When video 1 is loading buffer, video 2 pauses, but no video starts again when buffer is ready.

### Steps to Reproduce

[code]

[code]

**.HTML**

[code]

**.TS**

[code]

[2017-08-16 14:43] Elecash commented on #594
That should be working by default, no extra work is needed since that is the default behavior as you can check here: https://videogular.github.io/videogular2-showroom/#/master-player

Can you give me more information about what you want to do??

[2017-08-19 08:54] Elecash commented on #584
This should have been fixed in v5.5.0

[2017-08-19 08:54] #584 closed

[2017-08-21 09:29] Elecash commented on #583
Closing for inactivity.

[2017-08-21 09:29] #583 closed

[2017-08-21 09:42] Elecash commented on #585
Is this still an issue?

The code looks good to me except this part (look at my comments on the code):

[code]

Maybe you can try with `canPlay` instead of `canPlayThrough`. Did you tried with the demo here?

https://videogular.github.io/videogular2-showroom/#/smart-playlist

You have the code here:

https://github.com/videogular/videogular2-showroom/blob/master/src/app/smart-playlist/smart-playli

[2017-08-21 09:43] Elecash commented on #588
@ende124 would you like to help on the implementation? I can help and guide you 😄

[2017-08-21 09:47] Elecash commented on #590
Any console errors?
Which one is your problem?

[2017-08-21 10:00] sardell opened #595 ""Unexpected value 'VgCoreModule' imported by the module 'AppModule'" when setting up for local development."
### Description
I'm trying to setup videogular2 so that I can develop and contribute to the project. When trying to setup videogular2 locally as a dependency for an Angular "test" project, I'm getting an error that's preventing me from doing development.

### Expected Behavior
One should be able to clone videogular2, link using `npm link` and develop using as a dependency in a test project.

### A

[2017-08-21 10:09] Elecash commented on #595
@sardell I'm not sure why but `npm link` doesn't work for me, I have to copy&paste the files manually when I want to do some local testing.

[2017-08-21 10:10] Elecash commented on #594
This is a new feature, we can try to add it in the next release.

[2017-08-21 10:10] Elecash commented on #591
Can you try with `vgApi?.time.current` instead of `vgApi?.currentTime * 1000`?

We recommend to use `time.current` always because it's the Angular property used on our components.

[2017-08-21 10:12] fizdalf commented on #591
I will try that, and let you know.

Gracias :D

[2017-08-21 10:51] fizdalf commented on #591
That worked!! Now, I have a custom scrub bar, but it seems it cannot use the vgApi.time.current, I'm guessing that's a read-only property, should I read from that one and update vgApi.currentTime?

[2017-08-21 10:57] Elecash commented on #591
@fizdalf to set the time you have a method called `seekTime(value:number, byPercent:boolean)` you can check it here: https://videogular.github.io/videogular2/modules/core/services/vg-api/

[2017-08-21 11:20] fizdalf commented on #591
Thank you, yeah I figured that one out.

Thanks again, all problems with Videogular gone..now I have some other kind of trouble, but it's more Angular/Ionic related.

Un saludo!

[2017-08-21 11:20] #591 closed

[2017-08-21 18:28] ende124 commented on #588
@Elecash well, I'm a fairly new developer, and started learning Angular a little while ago. Not quite sure if I'm up for the task. But I could always try? :P

[2017-08-21 19:37] Maik3345 commented on #590
Only this: Can't bind to 'vgMedia' since it isn't a known property of 'video'.

[2017-08-22 07:38] Elecash commented on #590
You probably have to add `VgCoreModule` to your lazy loaded module.

[2017-08-22 09:01] Elecash commented on #588
@ende124 of course!

You can inspire in `videogular-chromecast` which was made by a contributor for Videogular 1.X for AngularJS: https://github.com/benjipott/videogular-chromecast/blob/master/src/chromecast.js

If you want to create a PR I'm glad to contribute to it because I know that this is going to be a big task.

Probably I'll do something similar like I did on `VgDash` and `VgHls` directive

[2017-08-22 18:16] jnrndn commented on #594
Awesome!!

[2017-08-23 13:00] igorissen opened #596 "ReferenceError: Hls is not defined"
### Description
I'm trying to launch an HLS stream without success because I keep receiving this error `ReferenceError: Hls is not defined`.

I'm using `angular/cli: v1.3.0` and `angular: v4+`

[code]

### Expected Behavior
The player should read the stream.

### Actual Behavior
Unable to launch the stream because of this error `ReferenceError: Hls is not defined`

### Steps to Reproduce

1. `yarn

[2017-08-23 20:48] igorissen commented on #596
My bad! Forget to add `#myMedia [vgMedia]="myMedia"` on the video element.

[2017-08-23 20:48] #596 closed

[2017-08-24 16:43] darin-cardin commented on #339
works perfectly. good show!

[2017-08-28 09:35] MeghaKatiyar opened #600 "Controls are not visible while running the video using Angular js"
### Description
The controls are no visible in a video that i added using videogular in angular js,though when we click on the area of the controls they are working properly.

### Expected Behavior
The controls on the video must be visible

### Actual Behavior
There is a separate box that is visible instead of the actual image of the controls.

### Steps to Reproduce
*If this is an issue, describe

[2017-08-29 08:59] Elecash commented on #600
This is the version for Angular 2+ not AngularJS version.

Please use the proper repository and open your issue here: https://github.com/videogular/videogular

[2017-08-29 08:59] #600 closed

[2017-08-29 09:00] Elecash commented on #585
Closing for inactivity.

[2017-08-29 09:00] #585 closed

[2017-08-29 09:00] Elecash commented on #581
Closing for inactivity.

[2017-08-29 09:00] #581 closed

[2017-08-29 09:01] Elecash commented on #580
Closing for inactivity.

[2017-08-29 09:01] #580 closed

[2017-08-29 09:01] Elecash commented on #575
This is fixed.

[2017-08-29 09:01] #575 closed

[2017-08-29 13:49] varolo opened #601 "Internet Explorer 11 and Edge problem"
### Description
I'm using videogular 2 in my angular.io project and it works well in chrome and safari browsers.

Unfortunately it don't works in IE11, Microsoft Edge and Firefox also the website demo samples at this page :
https://videogular.github.io/videogular2-showroom/#/
Shows always a black square instead the videos.

### Steps to Reproduce
Open IE11 ,Microsoft Edge or Firefox browser and na

[2017-08-29 15:05] fdambrosio opened #602 "Background audio not work with Ionic3 + Videogular2 on iOS"
### Description
Videogular2 works fine for mp3 audios and hls videos.

### Expected Behavior
I'm using Videogular2 in a Angular4/Ionic3 project and all works fine with mp3 and mp4. When the user Lock The Screen in iOS Device  I expect that the audio continues to play in a background mode.

### Actual Behavior
In IOS when the user  Lock The Screen audio stop to play.

I'm using <audio> tag

I've te

[2017-09-01 14:03] marty331 commented on #601
@varolo I don't have a solution, but can confirm the same.  Specifically I have issue with cuePoints/textTracks not working correctly in Firefox, IE(duh), and Edge.  If I get this solved I will update.

[2017-09-02 03:56] phdggg opened #603 "Videogular2 seekTime does not work"
### Description
I split the videos into scenes and would like seekTime to start playing each scene when clicking each button corresponding to each scene. But seekTime does not work and the video always plays from the very beginning (0sec).

### Expected Behavior
The video should play from the scene start.

### Actual Behavior
seekTime does not work and the video always plays from the very beginnin

[2017-09-02 07:03] Elecash commented on #603
@phdggg did you tried with the demo video file?

http://static.videogular.com/assets/videos/videogular.mp4

[2017-09-03 04:02] phdggg commented on #603
Yes. The demo video file is what I tested and seekTime does not work. It always started from time 0.

[2017-09-04 05:08] viswanathamsantosh opened #604 "Using this with Ionic 3.9 and Angular 4"
### Description
*Making Videogular to work with Ionic 3 and Angular 4*

I couldn't find any documentation or guide to use videogular with  Ionic 3.9 and Angular 4. Does this work with angular 4? If yes, may I know where can I find any development guides for this?

[2017-09-04 06:27] viswanathamsantosh commented on #401
Do you have any example of videogular and ionic 3?

[2017-09-04 12:01] Elecash commented on #603
@phdggg can you try setting my url directly? Maybe your server is not properly setup.

[2017-09-04 17:26] Elecash commented on #602
This was answered here https://stackoverflow.com/questions/45954683/background-audio-not-work-with-ionic3-videogular2-on-ios

[2017-09-04 17:26] #602 closed

[2017-09-04 17:26] Elecash commented on #604
Yes, it works with Angular 4, you can find our showroom here:

https://github.com/videogular/videogular2-showroom

[2017-09-04 17:26] #604 closed

[2017-09-04 17:27] Elecash commented on #590
Closing for inactivity

[2017-09-04 17:27] #590 closed

[2017-09-04 17:27] Elecash commented on #514
Closing for inactivity

[2017-09-04 17:27] #514 closed

[2017-09-04 17:28] #518 closed

[2017-09-04 17:28] Elecash commented on #530
Closing for inactivity

[2017-09-04 17:28] #530 closed

[2017-09-04 22:05] trbsi opened #605 "How to disable Videogular2 fullscreen"
Hi.

When I play video on my iPhone it automatically goes to fullscreen mode. I'm using latest Ionic with Videogular, how to disable fullscreen mode?

[2017-09-06 07:25] Nariman007 commented on #456
+1

[2017-09-06 08:33] Elecash commented on #605
For iOS 10 you can add `playsinline` directly:

[code]

For previous versions it's probably safer to add `webkit-playsinline` as an attribute:

[code]

Try any of this, it should work.

[2017-09-06 11:07] trbsi commented on #605
It doesn't work. It works only when I view the app via mobile Safari but not working when built as native app

[2017-09-06 11:32] Elecash commented on #605
Probably this is not related with Videogular itself and you need to do something with the iOS manifest or something similar.

[2017-09-06 11:32] #605 closed

[2017-09-07 04:46] viswanathamsantosh opened #606 "Videogular doesn't work in Angular4+ ionic 3.9"
### Description
Video player works half screen

### Expected Behavior
Video should work as expected

### Actual Behavior
*Icons are missing
* video is just half of the screen

### Steps to Reproduce
  1. Create a black project
  2. add code as mentioned here< https://github.com/videogular/videogular2/blob/master/docs/getting-started/how-videogular-works.md >

### Attachments
for Firefox it is fine

[2017-09-07 05:20] phdggg commented on #603
Yes. The url works. Also, when I used AWS S3, the videos can be properly seeked.
The server needs to understand Partial Content requests, and respond with status code 206 instead of 200.

[2017-09-07 05:21] #603 closed

[2017-09-07 06:10] phdggg opened #607 "vg-play-pause button does not show up"
### Description
vg-play-pause button does not show up

### Expected Behavior
vg-play-pause button should show up

### Steps to Reproduce
`  <vg-player (onPlayerReady)="onPlayerReady($event)" *ngIf="selectedVideoUrl">
      <vg-buffering></vg-buffering>

      <vg-controls [vgAutohide]="true" [vgAutohideTime]="3">
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback

[2017-09-07 12:04] viswanathamsantosh commented on #607
Did you linked videogular.css in your index.html?
`
<link rel="stylesheet" type="text/css" href="../node_modules/videogular2/fonts/videogular.css">`

[2017-09-07 12:05] viswanathamsantosh commented on #607
`<link rel="stylesheet" type="text/css" href="../node_modules/videogular2/fonts/videogular.css">`

Did you linked this css file in your index.html?

[2017-09-07 12:06] viswanathamsantosh commented on #606
Okay I fixed the issue of the broken screen by mentioning width="100%" on the video tag.
But still can't see the missing buttons. However when i click on the button space the respective action is performed.

[2017-09-08 21:53] phdggg commented on #607
OK. I think I missed the instruction in the get started document.
http://videogular.github.io/videogular2/docs/getting-started/

I just followed what's described in "Adding the icon font". Problem solved.

[2017-09-08 21:53] #607 closed

[2017-09-10 13:48] amitport opened #608 "[feature request] fixed controls without overlap"
Currently we can only either have auto-hidden controls or translucent fixed controls. Would it be possible to add fixed controls that stay below video and do not overlap with it (like youtube)?.

Thank you

[2017-09-11 12:26] avatsaev opened #609 "Update RxJS dependency"
### Description

Doesn't work with Angular 4.3 & Angular CLI 1.4.1

### Expected Behavior

### Actual Behavior

Error at compile time
[code]

### Steps to Reproduce
*If this is an issue, describe the steps you took to see the issue. If this is a feature, delete this block.*
  1. Step 1
  2. Step 2

### Attachments
*Try to include screenshots for bugs or design assets for enhancements*

| **Image T

[2017-09-13 02:31] nickyxu commented on #609
hi avatsaev,
   I meet the same problem. Have you fixed it? Or, any solution?

[2017-09-13 05:56] nickyxu commented on #609
Hi,
   It works!
My solution is:
1. Downgrade the rxjs to V5.1.0
2. Downgrade the typescript to V2.3.4

[2017-09-13 10:06] avatsaev commented on #609
Hey @nickyxu, I just disabled type checking in my tsconfig, a little radical I know, but it works

[2017-09-13 20:31] dekhaus opened #610 "Audio Player only"
Hi All

I'm completely new to Videogular2.  I've got a basic video player working by following the installation instructions and adding this to my components page ...

      <vg-player>
        <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
          <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
        </video>
      </vg-play

[2017-09-13 20:41] dekhaus commented on #610
Never mind - figured it out

[2017-09-13 20:41] #610 closed

[2017-09-13 22:44] dekhaus opened #611 "Programmatically starting an audio"
Hi

I'm new to videogular and have what I think is a simple question ... how do automate the starting of an audio clip ?

I've followed the 'using-the-api' directions and have a working audio 'instance' of a vg-player.  I need to be able to start playing the audio clip from my code.  How do I do that ?

I reviewed the list of supported 'events' - but these events seem to happen in response to some

[2017-09-13 22:50] marty331 commented on #370
I know this is closed, but is there a way to play videos on mobile?  Currently I'm unable to play on Android and iOS.  Thanks!

[2017-09-13 23:11] dekhaus opened #612 "Multiple audio players on the same page"
Hi

I have a page that will contain several (somewhere on the order of 6-10) audio clips.  I have the vg-player html within an ngFor loop ...

            <vg-player (onPlayerReady)="onPlayerReady($event)">
              <audio [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                <source [src]="audioPath" type="audio/mp4">
              </audio>
            </vg-playe

[2017-09-13 23:23] marty331 commented on #370
And I figured it out.  Need to have autoplay and muted, as well as Datasaver must be OFF!

[2017-09-14 06:18] dekhaus commented on #611
Going to answer my own question ....

api.play()

will play the video/audio associated with the current player

[2017-09-14 06:18] #611 closed

[2017-09-14 06:25] dekhaus commented on #612
I found the 'showroom' example - which provides a lot of clarity to the situation.

My current design assumes that each audio clip will have its own Player.  I see multiple issues with this design and can probably convince my stakeholder to that having one Player is the way to go.

I've updated my page to have only one Player following the example on the showroom sample app.   The multiple video e

[2017-09-14 08:18] Elecash commented on #612
@dekhaus yes, I think that it's wiser to have just one player and update the media source.

If you want to just play once you can update this function:
https://github.com/videogular/videogular2-showroom/blob/master/src/app/smart-playlist/smart-playlist.component.ts#L48-L56

To this:

[code]

[2017-09-14 11:20] uzumakinaruto123 opened #613 "Fullscreen change event not called"
### Description
Can't find any working example of `onChangeFullscreen` event

Tried following:
`<vg-player *ngIf="video" (onChangeFullscreen)="fullScreenChange()">`

But does not work.

### Expected Behavior
Working examples in docs would help.

Thank you!

[2017-09-14 17:53] dekhaus opened #614 "Audio playback works in Chrome/Firefox - not Safari"
Hi All

I've customized the video playlist example from the showroom app to process a list of mp4 audio clips.  The clips are retrieved from the same API used by the rest of the app (aka the same server which serves the app).

My API has an endpoint that serves my mp4 audio clips -> api/walos/:id/audio/  (:id is replaced with the id of the requested audio clip

The loading and playing of the audio

[2017-09-14 22:36] #589 closed

[2017-09-18 15:13] dekhaus opened #616 "Default playback speed"
Hi All

Is it possible to supply a set of 'playback' speeds as well as specify the default value ?

I'd like to set the default playback speed to be 0.5.  Is that possible and if so - how ?

Thanks
Dave

[2017-09-19 20:45] rogerlopz commented on #595
Yeah, i got the same error with the same exact steps but `npm link`.
I followed [This tutorial](http://videogular.github.io/videogular2/docs/getting-started/how-videogular-works.html)

[2017-09-21 09:51] ggoelles opened #617 "not resizing when playing WEBM file"
I tried to add a WEBM video dynamically to the player. On Android with chrome can load the video but the controls disappear on playing and Firefox can't read the WEBM file.

In Chrome there is additionally a width-problem. The player isn't resizing correctly (video to big, controls greater than visible layer). I can change the width via CSS or div-layers but the controls and the video do not resiz

[2017-09-21 10:15] ggoelles commented on #617
setting width and height of video-tag and vg-player-tag to 100% helped

[2017-09-21 10:15] #617 closed

[2017-09-22 14:40] cstrd opened #618 "video is not playing ,when load from database"
Hi , we are trying to integrate videoangular player with angular4, and its working also. when I put static video URL in the template. but when I load video URL from the database , the video is not playing.  i checked inspect element video URL is correct loading but the video is not playing . below is my code .

static code :
working

[code]

dynamic code :   not working

[code]

[2017-09-22 15:10] marty331 commented on #618
You are not providing a video src, therefore there is nothing to play.

[2017-09-23 04:53] cstrd commented on #618
Actually, my complete code is  below, I did not post all code,

static -code working, I am giving static video URL here, in page template itself
<vg-player>
            <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
              <source src="https://storage.googleapis.com/webassets/videos/event/WCCICC2017/Interviews/Amuthan/Amuthan-360p.mp4}" type="video/mp4">

[2017-09-23 07:45] itcozum opened #619 "Cannot find type definition file for core-js"
### Description

I'm currently using angular/cli: 1.4.1, angular 4.3.4 and node 7.10.1 and videogular2@5.5.1

when I run ng serve from the command prompt I'm getting the below error message

ERROR in C:/tps/2017/tps-hr/web/node_modules/videogular2/src/core/vg-media/i-playable.d.ts (1,1): Cannot find type definition file for 'core-js'.

Can Somebody help please.

Thanks in advance.
Nelson

[2017-09-23 08:14] Elecash commented on #619
Install core-js typings with `npm install @types/core-js --save-dev` and it should work.

[2017-09-23 08:14] #619 closed

[2017-09-23 08:17] Elecash commented on #614
@dekhaus This seems like an encoding issue or some problem with the server configuration.

[2017-09-23 08:25] Elecash commented on #618
@cstrd this code is working for me.

[code]

[2017-09-23 08:36] Elecash commented on #616
You need to listen to the `(onPlayerReady)` event and then set the playbackRate that you want.

For example:

[code]

[code]

[2017-09-23 08:44] #616 closed

[2017-09-23 08:45] Elecash commented on #608
You can do that with CSS.

Just add on your CSS this rule and that's it:

[code]

[2017-09-23 08:46] #608 closed

[2017-09-23 09:03] Elecash commented on #613
You need to get the `VgFullscreenAPI` available inside `VgAPI`.

To get it, listen to `onPlayerReady` event and get the fullscreen api:

[code]

[code]

[2017-09-23 09:31] #613 closed

[2017-09-23 09:33] #595 closed

[2017-09-24 08:48] cstrd commented on #618
thanks for reply , above code is working already, their i kept static video URL . but the problem is when i load video Url from database , its not working .

[2017-09-24 09:10] Elecash commented on #618
@cstrd what do you mean when you say "load video Url from database"?

Maybe you need to set the source like here:

[code]

[2017-09-29 10:55] devcer opened #620 "Overlay button on the video"
### Description
Adding an overlay button with a click handler eg: skip add button

### Expected Behavior
Should be able to overlay button on video using CSS and clicking on button should give an alert dialog

### Actual Behavior
The video is paused on background but the click on button doesn't work.

### Steps to Reproduce
* place a button alongside videoplayer
<button class="skip-button-1" (click

[2017-09-29 11:18] Elecash commented on #620
Can you paste the CSS code for your button and also the HTML code of the video player?

You probably have the `vg-overlay-play` over and you need to set to your button a higher `z-index` to make it work.

[2017-09-29 11:32] devcer commented on #620
I think it is working now.

I used the following css style
.skip-button-1{
  position: absolute;
  top: 70%;
  padding: 10px;
  left: 70%;
  z-index: 111;
  cursor: pointer;
  display: none;
}
 i was able to see the button but cannot click it. Later changed it to higher value of "2147483647" and it is working now.

[2017-09-29 11:52] #620 closed

[2017-10-03 11:52] bopm commented on #609
After some help with pointing out that any combination of libs not breaking that in https://github.com/videogular/videogular2-showroom/ I was able to fix the same problem by removing my local yarn.lock on my project and reinstall all dependencies.

[2017-10-03 11:55] Elecash commented on #609
I can confirm that it worked for me by deleting the `package-lock.json`.

[2017-10-03 11:55] #609 closed

[2017-10-03 16:04] 1kohei1 commented on #493
Hi, I updated the version of the videogular, but still sees this issue.
I created small demo to show the problem.

https://stackblitz.com/edit/angular-1jjb4q?file=app/app.component.ts

I appreciate if you can take a look. Thanks!

[2017-10-04 09:47] avatsaev commented on #609
Still expiriencing errors when building with libCheck option:

using TS 2.5
Angular 4.4

[code]

[2017-10-04 11:29] bopm commented on #609
@avatsaev according to [that](https://github.com/angular/angular/issues/18454) there is no Angular 4 support for TS version bigger than 2.3 and never will be.

[2017-10-05 15:08] rogerlopz commented on #618
What @cstrd mean is that if he load the `src` of the video dinamically (with `{{string}}` interpolation or with the `[src]` attribute) it doesnt load the video. You have to statically define the source of the video to play it.
I know this because im facing the same issue.

This
[code]
and this
[code]
Do not work, but this:
[code]
Does work on angular 4.

[2017-10-05 15:25] Elecash commented on #618
@rogerlopz @cstrd you need to update the full `source` element, to change just the `src` attribute will not work.

You should probably try this:
[code]
And then update array.

Another option could be to just set the url on the `src` attribute of the `video` element.

[code]

[2017-10-05 16:32] rogerlopz commented on #618
yeah, that worked for me, thank you @Elecash
[code]

Let's hope @cstrd can fix his problem. Sorry for jumping on his issue but i thought we had the same problem (i still think).

[2017-10-05 23:07] avatsaev commented on #609
Yep, that turned out to be the problem, thank you.

[2017-10-06 08:28] #579 closed

[2017-10-06 08:30] #612 closed

[2017-10-06 08:30] #614 closed

[2017-10-06 08:35] Elecash commented on #601
I've tested the latest version published on the Showroom and it works fine on Firefox, IE11 and Edge.

[2017-10-06 08:35] #601 closed

[2017-10-06 11:07] Elecash commented on #582
Closed with https://github.com/videogular/videogular2/releases/tag/v5.6.0

[2017-10-06 11:07] #582 closed

[2017-10-06 23:42] BGBRWR commented on #618
@cstrd
Adding a `*ngIf` to the `<vg-player>` element will make sure vg-player won't render without a source.

[code]

[2017-10-07 00:43] BGBRWR commented on #592
@Bubelbub Can you recreate the issue in a plunker?

You can use the link below as a starting point. It has a working videogular2 `<vg-player>`.
https://plnkr.co/edit/VloFuJ?p=preview

[2017-10-07 08:33] Sathya-Appscrip opened #622 "CrossOrigin is not working"
**This code will work but full screen not work properly with this

[code]

**This Code Wont Work at all
[code]
how shall make the video play with crossorigin ???

[2017-10-07 18:31] ghaiat opened #623 "AOT Error"
### Description
I get the following error when building my app in AOT:

`node_modules/videogular2/src/controls/vg-track-selector/vg-track-selector.d.ts.VgTrackSelector.html (5,66): Property 'ariaValue' does not exist on type 'VgTrackSelector'`

### Expected Behavior
No error

[2017-10-09 06:33] itcozum opened #624 "Cannot find type definition file error"
### Description
*Describe the issue or new feature.*

Hi,
I'm having trouble installing this component into my project.
I'm currently using nodejs 7.10.1 angular/cli 1.4.4 and angular 4.4.4.
Each time I try to build my project I'm getting the below error messages.

ERROR in D:/PROJELER/2017/tps-hr/web/node_modules/videogular2/src/core/vg-media/i-playable.d.ts (1,1): Cannot find type definition fil

[2017-10-09 12:26] yudecheng commented on #623
src/controls/vg-track-selector/vg-track-selector.ts line25: ariaValue is undeclared

[2017-10-09 16:31] Elecash commented on #623
Fixed via https://github.com/videogular/videogular2/releases/tag/v5.6.1

[2017-10-09 16:31] #623 closed

[2017-10-10 19:51] mrwogu commented on #592
Same here

[2017-10-11 15:32] BGBRWR commented on #592
Can you show us your ts file where `this.target` exists?

[2017-10-12 18:13] piekarz007 commented on #592
`playerReady()}))},t.prototype.onPlayerReady=function(){this.target=this.API.getMediaById(this.vgFor),this.subscriptions.push(this.target.subscriptions.play.subscribe(this.onPlay.bind(this)))`

[2017-10-13 10:10] Elecash commented on #624
You must install core-js.

Run `npm install core-js --save-dev` should fix the problem.

[2017-10-13 10:10] #624 closed

[2017-10-13 10:25] Elecash commented on #556
Closing for inactivity.

[2017-10-13 10:25] #556 closed

[2017-10-15 20:23] DiptiGupta commented on #578
Hi , can you please share the information of usage of loadMedia().

[2017-10-17 12:22] zengmeng1094 commented on #578
Hi,
    If you want to change you media by change url(I mean this url is not in your order playlist), you should use loadMedia().
    To use this method, first, you should get it clear that which media should change a url that not in list, and then, use api's method get the media,just like "(<VgMedia>api.getDefaultMedia())". And the url's change happen in the var's change(angular's two-way data bi

[2017-10-17 16:48] atakume opened #626 "Track subtitles for audio doesn't show"
### Description
Track subtitles for audio doesn't show. I've tried to add track to audio element, but can not make them show on player.

### Expected Behavior
Show subtitles in player area, when track is added to audio element.

### Actual Behavior
Nothing's shown.

### Steps to Reproduce
My html file:
[code]

### Hack
I hack this by changing audio into video tag... Maybe there is some easy soluti

[2017-10-17 18:30] DiptiGupta commented on #578
Thank you. I understood the use of loadMedia() function.

I have the same issue. source of audio is a variable whose value is changing.
 But i am not getting the event at which i can invoke loadMedia to reload the audio source so that changed source can be used during playing of audio.
Can you please share the information.@zengmeng1094

[2017-10-18 12:06] zengmeng1094 commented on #578
where you use tag<vg-player> means you get a media, and I know in the doc there is some method like getMedia() or getDefaultMedia(). Maybe you can get some info in there. And the api in my example is the same as doc say.

[2017-10-18 21:21] arcman77 commented on #363
@bashome did you ever figure this out?

[2017-10-19 08:16] orhanbhr opened #627 "Autoplay not working"
Hello there,

The video does not automatically play when the page is first opened. I want the user to start an automatic live broadcast when the page comes up. How can I solve this, can you help?

HTML : http://prntscr.com/gz9i5x
Component : http://prntscr.com/gz9hxn

[2017-10-20 06:03] CNSH-Leo commented on #311
I get the same error with:
videogular2[5.6.1]
@angular/core[4.4.5]

[2017-10-20 09:06] igorissen opened #628 "Buffer ring infinite loop"
### Description
The buffer ring keeps changing state as an infinite loop of show and hide.

### Steps to Reproduce
  1. List of URL stream
  2. Switch stream with a click event multiple times
  3. Buffering ring should appear with an infinite loop

### Attachments

| **videogular2-buffer-blinking.mov** |
| --- |
| [https://youtu.be/IIyo0qmM4Vo](https://youtu.be/IIyo0qmM4Vo) |

[2017-10-20 09:18] Elecash commented on #628
@igorissen this is interesting but it's not happening on this example.
https://videogular.github.io/videogular2-showroom/#/smart-playlist

Maybe you can get an idea of how to fix it looking at the code here:
https://github.com/videogular/videogular2-showroom/blob/master/src/app/smart-playlist/smart-playlist.component.ts

[2017-10-20 09:21] Elecash commented on #627
Did you tried adding `autoplay` attribute to `video` element?

[2017-10-20 09:22] Elecash commented on #626
From [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio):

[code]

So you have to use `video` instead of `audio`.

[2017-10-20 09:22] #626 closed

[2017-10-20 09:24] Elecash commented on #618
Closing then 😄

[2017-10-20 09:24] #618 closed

[2017-10-20 09:25] Elecash commented on #622
Is the server properly configured? Any console log errors?

[2017-10-20 09:27] igorissen commented on #628
@Elecash Thank you for the links.
I've checked the code but there is one difference. I'm using HLS streams and not media URLs.

[code]